<style>
    .userTable thead tr .sorting:first-child::before,
    .userTable thead tr .sorting_asc:first-child::before,
    .userTable thead tr .sorting_asc:first-child::after,
    .userTable thead .sorting_desc:first-child:after,
    .userTable thead .sorting:first-child:after,
    .userTable thead .sorting:first-child {
        content: none !important;
        cursor: unset
    }

    #comment_btn {
        width: 80px;
        display: inline-block;
    }
</style>
<script>
    $(document).ready(function () {
        searchajax();
    });
</script>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">게시판관리</a>
        </li>
        <li class="breadcrumb-item active"> 갤러리 </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>갤러리관리
                        </div>
                        <div class="card-body">
                            <form id="galleryForm" name="galleryForm" method="" action="">
                                <div style="display: flex; justify-content: end; gap: 5px;">
                                    <input type="hidden" id="page" name="page" value="<%=page%>">
                                    <input class="searchbox" type="text" name="searchText" id="searchText"
                                        <%if(searchText!=null){%>value="<%=searchText%>" <%}%> placeholder=" 제목, 내용">
                                    <!-- <button class="btn btn-block btn-outline-success" type="submit" id="searchAction"  style="margin-bottom: 10px;">검색</button> -->
                                </div>
                                <table id="exampleTable" class="table userTable table-responsive-sm table-hover">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="58%" />
                                        <col width="8%" />
                                        <col width="12%" />
                                        <col width="12%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>조회수</th>
                                            <th>작성일</th>
                                            <th>댓글</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        <% if(results.length > 0){ %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                                            if(i > length){
                                                i++;
                                            } else { %> 
                                    <tr
                                        onclick="location.href='/admin/m_gallery/gallerySelectOne?galleryId=<%=results[i].galleryId%>&page=<%=page%>&searchText=<%= searchText %>'">
                                    <td onclick='event.cancelBubble=true;'><input type="checkbox" id="chk" name="chk"
                                            value="<%=results[i].galleryId %>" /></td>
                                    <td>
                                        <%= results.length-i %></td>
                                    <td>
                                        <%=results[i].galleryTitle%></td>
                                    <td>
                                        <%=results[i].galleryHit%></td>
                                    <td>
                                        <%=results[i].galleryWritDateFmt %></td>
                                    <td onclick='event.cancelBubble=true;'>
                                        <% if(results[i].mcount != 0) { %>
                                        <button id="comment_btn" type="button" class="btn btn-block btn-outline-success"
                                            onclick="comment('/admin/m_comment', '', 'resizable=0,width=640, height=700, scrollbars=1', '<%= results[i].galleryId %>')">댓글(<%=results[i].mcount %>)</button>
                                        <% } %></td>
                                    </tr>
                                    <% } %>
                                    <% } %>
                                    <% } else { %>
                                    <tr>
                                        <td colspan="6">
                                            데이터가 존재하지 않습니다.
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                    </table>
                                    <div>
                                        <input type="hidden" id="galleryId" name="galleryId" value="" />
                                        <button id="enrollAction" class="btn btn-block btn-outline-success"
                                            onclick="enroll()">등록</button>
                                        <button class="btn btn-block btn-outline-danger" type="button"
                                            id="delete_btn">삭제</button>
                                    </div>
                            </form>
                            <div class="mt_20">
                                <div class="paging" id="page_navi">
                                    <ul class="pagination customPaging">
                                        <% if(results.length > 0){ %>
                                        <li>
                                            <a href="/admin/m_gallery/gallery?page=1&searchText=<%= searchText %>" class="num">
                                                << </a> </li> <li>
                                                    <a <%if(page==1){%><%} else {%>
                                                        href="/admin/m_gallery/gallery?page=<%= parseInt(page) - 1 %>&searchText=<%= searchText %>"
                                                        class="num" <% } %>>
                                                        < </a> </li>
                                                            <% for(var i = startPage; i < endPage; i++){  %>
                                                            <li class="paging_on">
                                                            <a href="/admin/m_gallery/gallery?page=<%= i + 1 %>&searchText=<%= searchText %>"
                                                                <%if(page==i+1){%>class="selected"
                                                                <%}%> class="num"><%= i + 1 %></a> </li> <% } %> <li> <a
                                                                    <%if(page==last){%><%} else {%>
                                                                    href="/admin/m_gallery/gallery?page=<%= parseInt(page) + 1 %>&searchText=<%= searchText %>"
                                                                    class="num" <% } %>>></a></li>
                                        <li><a href="/admin/m_gallery/gallery?page=<%= last%>&searchText=<%= searchText %>" class="num">>></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const formObj = $("form[name='galleryForm']");
    //등록 
    function enroll() {
        formObj.attr("method", "get");
        formObj.attr("action", "galleryWritForm");
        formObj.submit();
    }
    // 삭제
    $("#delete_btn").on("click", function () {
        var chkArr = [];
        $("input[name=chk]:checked").each(function () {
            chkArr.push($(this).val());
        });
        $('#galleryId').val(chkArr);
        if (chkArr == "") {
            alert("삭제할 목록을 선택해주세요.");
            return false;
        }
        // var chkImg = [];
        // $("input[name=chk]:checked").each(function () {
        //     chkImg.push($(this).attr('data-img'));
        // });
        // $('#userImg').val(chkImg);
        formObj.attr("action", "gallerysDelete");
        formObj.attr("method", "get");
        if (confirm("삭제하시겠습니까?") == true) {
            formObj.submit();
        } else {
            return false;
        }
    })

    //댓글 확인
    function comment(theURL, winName, features, galleryId) {
        theURL += '?boardId=' + galleryId;
        window.open(theURL, winName, features);
    }

    //체크박스
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });

    //검색
    function searchajax() {
        $("#searchText").keyup(function () {
                var words = $("#searchText").val();
                // console.log(words);
                $.ajax({
                        type: 'get',
                        url: '/admin/m_gallery/gallerySearch?galleryId=<%=results[0].galleryId%>&page=1',
                        data: {
                            searchText: words
                        },
                        dataType: 'json',
                        success: function (data) {
                            var str = ''
                            $(".customPaging").empty();
                            if (data.ajaxSearch.length > 0) {
                                for (var i = (data.page * data.page_num) - data
                                        .page_num; i < (data.page * data.page_num); i++) {
                                    if (i > data.length) {
                                        i++;
                                    } else {
                                        $("#tbody").empty();
                                        str +=
                                            '<tr onclick="location.href=\'/admin/m_gallery/gallerySelectOne?galleryId=' +
                                            data.ajaxSearch[i].galleryId + '&page=' + data
                                            .page +'&searchText=' + data.searchText +
                                            '\'"> <td onclick="event.cancelBubble=true;"><input type="checkbox" id="chk" name="chk" value="' +
                                            data.ajaxSearch[i].galleryId + '" /> </td>';
                                        str +=
                                            '<td>' +
                                            (data.ajaxSearch.length - i) + '</td>';
                                        str +=
                                            '<td>' +
                                            data.ajaxSearch[i].galleryTitle + '</td>';
                                        str +=
                                            '<td>' +
                                            data.ajaxSearch[i].galleryHit + '</td>';
                                        str +=
                                            '<td>' +
                                            data.ajaxSearch[i].galleryWritDateFmt + '</td>'
                                        str += '<td onclick="event.cancelBubble=true;">'
                                        if (data.ajaxSearch[i].mcount != 0) {
                                            str +=
                                                '<button id="comment_btn" type="button" class="btn btn-block btn-outline-success"'
                                            str += 'onclick = "comment(\'/admin/m_comment\',\'\', \'resizable=0,width=640, height=700, scrollbars=1\',\'' + data.ajaxSearch[i].galleryId + '\')">'
                                            str += '댓글(' + data.ajaxSearch[i].mcount + ')</button></td>'
                                        } else {
                                            str += '<td></td>'
                                        }
                                        str += '</tr>'
                                }
                            }
                            // console.log("str = " + str)
                            $("#tbody").append(str);
                        } else {
                            var none = '<tr> <td colspan="6"> 데이터가 존재하지 않습니다. </td> </tr>'
                            $("#tbody").empty();
                            $("#tbody").append(none);
                        }
                        paging(data);
                    },
                    error: function (e) {
                        console.log('error:' + e.status);
                    }
                });
        });
    }
</script>

<script language="javaScript">
    function paging(data) {
        var datas = data;
        var dataLength = datas.length;
        var dataPageNum = datas.page_num;
        var galleryId = datas.ajaxSearch[0].galleryId;
        var temp = '';
        var datasPage = Number(datas.page);
        var datasLast = Number(datas.last);
        var startPage = Number(datas.startPage);
        var endPage = Number(datas.endPage);
        temp = `<li>
                <a href="/admin/m_gallery/gallery?page=1&searchText${datas.searchText}"
                class="num">
                << </a> </li> <li>
                <a `

        if(datasPage==1){
            temp += `> < </a></li>`
        } else {
            temp += `href="/admin/m_gallery/gallery?page=${datasPage - 1}&searchText=${datas.searchText}"
                class="num" >
                < </a> </li>`
        }
        for (var i = startPage; i < endPage; i++) {

            temp +=
                `<li class="paging_on">
                    <a href="/admin/m_gallery/gallery?page=${i + 1}&searchText=${datas.searchText}"`
            if(i!=0){
                temp += `class="num">${i + 1}</a> </li>`
            }else{
                temp += `class="selected" style="background-color:#0b9ad9;><span style="color:white;">${i + 1}</span></a> </li>`
            } 
        }
        temp += `<li> <a`
            if(datasPage==datasLast){
                temp += `> > </a></li> <li><a href="/admin/m_gallery/gallery?page=${datasPage}&searchText=${datas.searchText}"
                    class="num">>></a></li>`
            }else {
                temp += `
                    href="/admin/m_gallery/gallery?page=<${datasPage - 1}&searchText=${datas.searchText}"
                    class="num">></a></li>
                    <li><a href="/admin/m_gallery/gallery?page=${datasLast}&searchText=${datas.searchText}"
                    class="num">>></a></li>
                    `
            }
        $(".customPaging").html(temp);
    }
</script>

