<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
	<!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
	<script src="/stylesheets/js/common.js"></script>
</head>

<style>
	input {
		border: 1px solid grey
	}
</style>

<body style="background: #fff;">
	<div class="popup">
		<h2><span class="float_l">배너 수정</h2>
		<div class="content">
			<form action="" name="bannerUdt" method="" enctype="multipart/form-data">
				<input type="hidden" name="bannerId" value="<%=result[0].bannerId%>">
				<input type="hidden" name="bannerRoute" value="<%=result[0].bannerRoute%>">
				<table>
					<colgroup>
						<col width="20%" />
						<col width="80%" />
					</colgroup>
					<tr>
						<th>이미지</th>
						<td colspan="3">
							<% if(result.length > 0 && result[0].bannerRoute != null && result[0].bannerRoute != '') { %>
							<img src="../../../<%=result[0].bannerRoute%>" width="100">&nbsp;
							<button name="fileDelete" data-bannerRoute="<%=result[0].bannerRoute%>">삭제</button>
							</li>
							<% } else {%>
							<li><input type="file" id="file" name="file" /></li>
							<% } %>
						</td>
					</tr>
					<tr>
						<th>위치</th>
						<td>
							<label><input type="radio" id="banner1" name="bannerDiv" value="0" checked>팝업 배너</label>
							<label><input type="radio" id="banner2" name="bannerDiv" value="1">슬라이드 배너</label>
							<% if(result.length > 0) {%>
							<input type="hidden" id="bannerDivVal" value="<%=result[0].bannerDiv%>">
							<% } %>
						</td>
					</tr>
					<tr>
						<th>시작 날짜</th>
						<td>
							<input type="date" id="startDate" name="startDate" value="<%=result[0].startDatefmt%>">
						</td>
					</tr>
					<tr>
						<th>종료 날짜</th>
						<td>
							<input type="date" id="endDate" name="endDate" value="<%=result[0].endDatefmt%>">
						</td>
					</tr>
					<tr>
						<th>노출 여부</th>
						<td>
							<label><input type="radio" id="showYN1" name="showYN" value="0" checked>노출</label>
							<label><input type="radio" id="showYN2" name="showYN" value="1">비노출</label>
							<% if(result.length > 0) {%>
							<input type="hidden" id="showVal" value="<%=result[0].showYN%>">
							<% } %>
						</td>
					</tr>
					<tr>
						<th>순서</th>
						<td>
							<input type="number" id="showNo" name="showNo" value="<%=result[0].showNo%>">
						</td>
					</tr>
				</table>
			</form>
			<p class="btn">
				<button onclick="bannerUpdate()">수정</button>
				<button onclick="window.close();">취소</button>
			</p>
		</div>
	</div>

	<script>
		var formObj = $("form[name='bannerUdt']");
		
		function bannerUpdate() {
			if (confirm("수정하시겠습니까?") == true) {
				formObj.attr("action", "bannerUpdate");
				formObj.attr("method", "post");
				formObj.submit();
				alert("수정이 완료되었습니다.");
			} else {
				return;
			}
		};
		
		//드롭다운 박스 체크
		if ($('#bannerDivVal').val() == '0') {
			$('#banner1').prop("checked", true);
		} else if ($('#bannerDivVal').val() == '1') {
			$('#banner2').prop("checked", true);
		};

		if ($('#showVal').val() == '0') {
			$('#showYN1').prop("checked", true);
		} else if ($('#showVal').val() == '1') {
			$('#showYN2').prop("checked", true);
		};
		
		// 첨부파일 삭제
		$("[name=fileDelete]").on("click", function () {
			$('input[name=bannerRoute').val($(this).attr('data-bannerRoute'));
			if (confirm("실제 파일이 삭제됩니다. 정말 삭제하시겠습니까?") == true) {
				formObj.attr("action", "bannerImgDelete");
				formObj.attr("method", "get");
				formObj.submit();
				alert("삭제되었습니다.");
			} else {
				return;
			}
		});
		</script>