<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">배너관리</a>
        </li>
        <li class="breadcrumb-item active">팝업배너</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 팝업 배너 관리 (최대 9개까지 등록 가능합니다.) </div>
                        <div class="card-body">
                            <form id="bannerForm" name="bannerForm" method="" action="">
                                <input type="hidden" name="bannerId" value="">
                                <input type="hidden" name="bannerRoute" value="">
                                <input type="hidden" name="bannerDiv" value="<%=results[0].bannerDiv %>">
                                <table class="table table-responsive-sm table-hover">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="20%" />
                                        <col width="10%" />
                                        <col width="15%" />
                                        <col width="15%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>이미지</th>
                                            <th>시작날짜</th>
                                            <th>끝날짜</th>
                                            <th>노출여부</th>
                                            <th>순서</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
					for(var i = 0; i < results.length; i++){
					%>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <% if(results.length > 0 && results[i].bannerRoute != null && results[i].bannerRoute != '') {%>
                                            <td><img src="../../../<%= results[i].bannerRoute %>" alt="사진"
                                                    style="padding:20px !important; width:60px" /></td>
                                            <% }else{ %>
                                            <td><img src="../../../public/images/certification/sprout.png" alt=""
                                                    style="padding:20px !important; width:60px" /></td>
                                            <% } %>
                                            <td><%=results[i].startDatefmt %></td>
                                            <td><%=results[i].endDatefmt%></td>
                                            <% if(results[i].showYN == 0) {%>
                                            <td>O</td>
                                            <% }else{ %>
                                            <td>X</td>
                                            <% } %>
                                            <td><%=results[i].showNo%></td>
                                            <td>
                                                <input type="button"
                                                    onclick="bannerUpdate('/admin/m_banner/bannerUdtForm', '', 'width=640, height=700, scrollbars=1', '<%=results[i].bannerId%>', '')"
                                                    value="수정 " />
                                                <button type="button" id="delete_btn"
                                                    data-bannerId="<%=results[i].bannerId%>"
                                                    data-bannerRoute="<%=results[i].bannerRoute%>">삭제</button>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <%if(results.length == 0){%>
                                        <tr>
                                            <td colspan="9">
                                                등록된 목록이 없습니다.
                                            </td>
                                        </tr>
                                        <%}%>
            </tbody>
        </table>
</form>
<div class="mt_20">
    <p class="float_r">
        <!-- 나중에 boardId랑 uid(admin) 관리자걸로 고쳐줘야함!!!!!!!!!!!!!!!!!!!!-->
        <input id="enroll" type="button" onclick="enroll('/admin/m_banner/bannerWritForm', '', 'width=640, height=700, scrollbars=1', '',
        '<%= results.length %>')" value="등록" />
                                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<script>
    // 삭제
    $(document).ready(function () {
        const formObj = $("form[name='bannerForm']");
        $("button").on("click", function () {
            $('input[name=bannerId').val($(this).attr('data-bannerId'));
            $('input[name=bannerRoute').val($(this).attr('data-bannerRoute'));
            formObj.attr("action", "bannerDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                formObj.submit();
                alert("삭제되었습니다.");
            } else {
                return;
            }
        })
    });

    function bannerUpdate(theURL, winName, features, bannerId, mode) {
        theURL += '?bannerId=' + bannerId;
        window.open(theURL, winName, features);
    }

    function enroll(theURL, winName, features, mode, results) {
        console.log(results);
        if (results > 8) {
            alert("배너는 최대 9개까지 등록 가능합니다.");
        } else {
            window.open(theURL, winName, features);
        }
    }
</script>