<style>
    .userTable thead tr .sorting:first-child::before,
    .userTable thead tr .sorting_asc:first-child::before,
    .userTable thead tr .sorting_asc:first-child::after,
    .userTable thead .sorting_desc:first-child:after,
    .userTable thead .sorting:first-child:after,
    .userTable thead .sorting:first-child {
        content: none !important;
        cursor: unset
    }
</style>
<script>
    $(document).ready(function () {
        searchajax();
    });
</script>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">행사관리</a>
        </li>
        <li class="breadcrumb-item active"> 행사관리 </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 행사관리
                        </div>
                        <div class="card-body">
                            <form id="eventForm" name="eventForm" method="" action="">
                                <!-- <div style="display: flex; justify-content: end; gap: 5px;">
                                    <input class="searchbox" type="text" name="searchText" id="searchText"
                                        placeholder="제목,내용">
                                     <button class="btn btn-block btn-outline-success" type="submit" id="searchAction"  style="margin-bottom: 10px;">검색</button> 
                                </div> -->
                                <div align="right" style="display: flex; justify-content: end; gap: 5px;">
                                    <select name="searchType1" class="dropdown">
                                        <option value="">상태</option>
                                        <option value="0" <%if(searchType1=="0"){%> selected="selected" <%}%>>진행중</option>
                                        <option value="1" <%if(searchType1=="1"){%> selected="selected" <%}%>>마감</option>
                                    </select>
                                        <button class="btn btn-block btn-outline-success" type="submit"
                                            id="searchAction" style="margin-bottom: 10px;">검색</button>

                                </div>
                                <table id="exampleTable" class="table userTable table-responsive-sm table-hover">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="35%" />
                                        <col width="25%" />
                                        <col width="20%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>위치</th>
                                            <th>날짜</th>
                                            <th>상태</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        <% if(results.length > 0){ %> <% for(var i = 0; i < results.length; i++) {%>
                                            <tr
                                            onclick="location.href='/admin/m_event/eventSelectOne?eventId=<%=results[i].eventId%>'">
                                            <td onclick='event.cancelBubble=true;'><input type="checkbox" id="chk"
                                                    name="chk" value="<%=results[i].eventId%>"
                                                    data-img="<%=results[i].eventFileRoute%>" /></td>
                                            <td>
                                                <%= results.length-i %></td>
                                            <td>
                                                <%=results[i].eventTitle%></td>
                                            <td>
                                                <%=results[i].eventPlace%></td>
                                            <td>
                                                <%=results[i].eventDateFmt %></td>
                                            <% if(results[i].eventStatus == 0) {%>
                                            <td>
                                                진행중</td>
                                            <% } else if(results[i].eventStatus == 1) { %>
                                            <td>
                                                마감</td>
                                            <% } %>
                                            </tr>
                                            <% } %>
                                            <% } else { %>
                                            <tr>
                                                <td colspan="6">
                                                    데이터가 존재하지 않습니다.
                                                </td>
                                            </tr>
                                            <% } %>
                                            </tbody>
                                            </table>
                                            <div>
                                                <input type="hidden" id="eventId" name="eventId" value="" />
                                                <input type="hidden" id="eventFileRoute" name="eventFileRoute"
                                                    value="" />
                                                <button id="enrollAction" class="btn btn-block btn-outline-success"
                                                    onclick="enroll()">등록</button>
                                                <button class="btn btn-block btn-outline-danger" type="button"
                                                    id="delete_btn">삭제</button>
                                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const formObj = $("form[name='eventForm']");
    //등록 
    function enroll() {
        formObj.attr("method", "get");
        formObj.attr("action", "/admin/m_event/eventWritForm");
        formObj.submit();
    }
    // 삭제
    $("#delete_btn").on("click", function () {
        var chkArr = [];
        $("input[name=chk]:checked").each(function () {
            chkArr.push($(this).val());
        });
        $('#eventId').val(chkArr);
        if (chkArr == "") {
            alert("삭제할 목록을 선택해주세요.");
            return false;
        }
        var chkImg = [];
        $("input[name=chk]:checked").each(function () {
            chkImg.push($(this).attr('data-img'));
        });
        $('#eventFileRoute').val(chkImg);
        formObj.attr("action", "/admin/m_event/eventsDelete");
        formObj.attr("method", "get");
        if (confirm("삭제하시겠습니까?") == true) {
            formObj.submit();
        } else {
            return false;
        }
    })

    //체크박스
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });
</script>