<style>
    .userTable thead tr .sorting:first-child::before,
    .userTable thead tr .sorting_asc:first-child::before,
    .userTable thead tr .sorting_asc:first-child::after,
    .userTable thead .sorting_desc:first-child:after,
    .userTable thead .sorting:first-child:after,
    .userTable thead .sorting:first-child {
        content: none !important;
        cursor: unset
    }

    .overflow-x-auto {
        overflow-x: auto ;
    }

    .overflow-x-auto .table {
        width: auto !important;
        table-layout: fixed;
        white-space: nowrap
    }

</style>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">회원관리</a>
        </li>
        <li class="breadcrumb-item active">회원정보</li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header"><i class="fa fa-align-justify"></i> 회원 관리 </div>
                        <div class="card-body">
                            <form name="userForm" action="" method="get" class="easydropdown">
                                    <div id="selectBox">
                                    <input type="hidden" name="page" value="1">
                                    <select name="searchType1" class="dropdown">
                                        <option value="">위치</option>
                                        <option value="동구" <%if(searchType1=="동구"){%> selected="selected" <%}%>>동구</option>
                                        <option value="서구" <%if(searchType1=="서구"){%> selected="selected" <%}%>>서구</option>
                                        <option value="남구" <%if(searchType1=="남구"){%> selected="selected" <%}%>>남구</option>
                                        <option value="북구" <%if(searchType1=="북구"){%> selected="selected" <%}%>>북구</option>
                                        <option value="중구" <%if(searchType1=="중구"){%> selected="selected" <%}%>>중구</option>
                                        <option value="수성구" <%if(searchType1=="수성구"){%> selected="selected" <%}%>>수성구</option>
                                        <option value="달서구" <%if(searchType1=="달서구"){%> selected="selected" <%}%>>달서구</option>
                                        <option value="달성구" <%if(searchType1=="달성구"){%> selected="selected" <%}%>>달성구</option>
                                    </select>
                                    <select name="searchType2" class="dropdown">
                                        <option value="">형태</option>
                                        <option value="개원" <%if(searchType2=="개원"){%> selected="selected" <%}%>>개원</option>
                                        <option value="근무" <%if(searchType2=="근무"){%> selected="selected" <%}%>>근무</option>
                                        <option value="전공의" <%if(searchType2=="전공의"){%> selected="selected" <%}%>>전공의</option>
                                        <option value="휴직" <%if(searchType2=="휴직"){%> selected="selected" <%}%>>휴직</option>
                                    </select>
                                    <select name="searchType3" class="dropdown">
                                        <option value="">역할</option>
                                        <option value="병원장" <%if(searchType3=="병원장"){%> selected="selected" <%}%>>병원장</option>
                                        <option value="원장" <%if(searchType3=="원장"){%> selected="selected" <%}%>>원장</option>
                                        <option value="교수" <%if(searchType3=="교수"){%> selected="selected" <%}%>>교수</option>
                                        <option value="겸직교수" <%if(searchType3=="겸직교수"){%> selected="selected" <%}%>>겸직교수</option>
                                        <option value="부교수" <%if(searchType3=="부교수"){%> selected="selected" <%}%>>부교수</option>
                                        <option value="조교수" <%if(searchType3=="조교수"){%> selected="selected" <%}%>>조교수</option>
                                        <option value="임상강사" <%if(searchType3=="임상강사"){%> selected="selected" <%}%>>임상강사</option>
                                        <option value="선생" <%if(searchType3=="선생"){%> selected="selected" <%}%>>선생</option>
                                        <option value="주임과장" <%if(searchType3=="주임과장"){%> selected="selected" <%}%>>주임과장</option>
                                        <option value="과장" <%if(searchType3=="과장"){%> selected="selected" <%}%>>과장</option>
                                    </select>
                                    <span style="margin-bottom: 20px;">
                                    <% if(searchText != '') { %> <input class="searchbox" type="text" name="searchText"
                                            value="<%=searchText%>" />
                                        <% } else {%>
                                        <input class="searchbox" type="text" name="searchText"
                                            placeholder=" 회원명, 병원명" />
                                        <% } %>
                                        <button class="btn btn-block btn-outline-success" type="submit"
                                            id="searchAction" style="margin-bottom: 0;">검색</button>
                                    </span>
                                        </div>
                                        </form>

                            <form name="udtForm">
                                <input type="hidden" name="admin" value="<%=admin%>">
                                <div style="overflow:auto">
                                    <table id="exampleTable"
                                        class="table userTable table-responsive-sm table-hover table--min"
                                        cellspacing="0" cellpadding="0">
                                        <colgroup>
                                            <col width="5%" />
                                            <col width="5%" />
                                            <col width="10%" />
                                            <col width="30%" />
                                            <col width="15%" />
                                            <col width="15%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                                                <th>번호</th>
                                                <th>회원명</th>
                                                <th>병원명</th>
                                                <th>휴대번호</th>
                                                <th>병원번호</th>
                                                <th>형태</th>
                                                <th>역할</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(results.length > 0) { %>
                                            <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                                        if(i > length){
                                            i++;
                                        } else { %>
                                            <tr class="pointer"
                                                onclick="location.href='/admin/m_user/selectOne?admin=<%=admin%>&uid=<%=results[i].uid%>&page=<%=page%><%=keepSearch%>'">
                                                <td onclick="event.cancelBubble=true;"><input type="checkbox" id="chk"
                                                        name="chk" value="<%=results[i].uid %>"
                                                        data-img1="<%=results[i].userImg%>"
                                                        data-img2="<%=results[i].hosImg%>"
                                                        data-img3="<%=results[i].infoImg%>" />
                                                </td>
                                                <td>
                                                    <%=results[i].uid%>
                                                </td>
                                                <td>
                                                    <%=results[i].userName%>
                                                </td>
                                                <td>
                                                    <%= results[i].hosName %>
                                                </td>
                                                <td>
                                                    <%= results[i].userPhone1 %>-<%= results[i].userPhone2 %>-<%= results[i].userPhone3 %>
                                                </td>
                                                <td>
                                                    <%= results[i].hosPhone1 %>-<%= results[i].hosPhone2 %>-<%= results[i].hosPhone3 %>
                                                </td>
                                                <td>
                                                    <%= results[i].userType %>
                                                </td>
                                                <td>
                                                    <%= results[i].userPosition %>
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } %>
                                            <% } else { %>
                                            <tr>
                                                <td colspan="8">등록된 회원이 없습니다.</td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <div>
                                        <button type="button" id="enrollAction"
                                            class="btn btn-block btn-outline-success"
                                            style="width: 60px; display: inline-block;"
                                            onclick="location.href='/admin/m_user/userInsertForm'">등록</button>
                                        <input type="hidden" id="userImg" name="userImg" value="" />
                                        <input type="hidden" id="uid" name="uid" value="" />
                                        <button class="btn btn-block btn-outline-danger" type="button"
                                            id="delete_btn">삭제</button>
                                        <input class="btn btn-block btn-outline-success" type="button"
                                            id="excelFileExport" value="엑셀 다운로드"
                                            style="margin-bottom: 15px; width: 140px; display: inline-block; margin-top: 0px !important" />
                                    </div>
                                    <div class="mt_20">
                                        <div class="paging" id="page_navi">
                                            <ul class="pagination customPaging">
                                                <li> <a href="/admin/m_user/page?page=1<%= keepSearch %>" class="num">
                                                        <<</a> </li> <li> <a
                                                                <%if((page<startPage)||(page==1)){%><%} else {%>
                                                                href="/admin/m_user/page?page=<%= parseInt(page) - 1 %><%= keepSearch %>"
                                                                class="num" <% } %>>
                                                                <</a> </li>
                                                                    <% for(var i = startPage; i < endPage ; i++){  %>
                                                                    <li class="paging_on">
                                                                    <a href="/admin/m_user/page?page=<%= i + 1 %><%= keepSearch %>"
                                                                        <%if(page==i+1){%>class="selected"
                                                                        <%}%> class="num"><%= i + 1 %></a> </li> <% } %>
                                                                        <li> <a <%if(page>last-1){%><%} else {%>
                                                                            href="/admin/m_user/page?page=<%= parseInt(page) + 1 %><%= keepSearch %>"
                                                                            class="num" <% } %>>></a></li>
                                                <li><a href="/admin/m_user/page?page=<%= last %><%= keepSearch %>"
                                                        class="num">>></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<script>
    $(document).ready(function () {
        const formObj = $("form[name='udtForm']");
        // 삭제
        $("#delete_btn").on("click", function () {
            var chkArr = [];
            $("input[name=chk]:checked").each(function () {
                chkArr.push($(this).val());
            });
            $('#uid').val(chkArr);
            if (chkArr == "") {
                alert("삭제할 목록을 선택해주세요.");
                return false;
            }
            var chkImg = [];
            $("input[name=chk]:checked").each(function () {
                chkImg.push($(this).attr('data-img1'));
                chkImg.push($(this).attr('data-img2'));
                chkImg.push($(this).attr('data-img3'));
            });
            $('#userImg').val(chkImg);
            formObj.attr("action", "userDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                formObj.submit();
            } else {
                return false;
            }
        })
        const formObj2 = $("form[name='userForm']");
        //검색
        $("#searchAction").on("click", function () {
            formObj2.attr("action", "/admin/m_user/page");
            formObj2.attr("method", "get");
            formObj2.submit();
        })
        // 엑셀 다운로드
        $("#excelFileExport").on("click", function () {
            formObj2.attr("action", "userExcel");
            formObj2.attr("method", "get");
            formObj2.submit();
        })
    });

    // 선택
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });
</script>