<script type="text/javascript">
    function selectOne(theURL, winName, features, uid, mode) {
        theURL += '?uid=' + uid;
        window.open(theURL, winName, features);
    }

    // function createOne() {
    //     window.open("/admin/m_user/writeForm", "", "_blank");
    // }

</script>

<div class="board_list">
    <form action="/admin/m_user/search" method="get">
        <select name="searchType">
            <option value="userEmail" >이메일</option>
            <option value="userNick">닉네임</option>
        </select>
            <input type="text" name="searchText">
            <button type="submit" id="searchAction">검색</button>
    </form>

    <table>
        <colgroup>
            <col width="10%" />
            <col width="20%" />
            <col width="30%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>

        <thead>
            <tr>
                <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                <th>번호</th>
                <th>이메일</th>
                <th>닉네임</th>
                <th>비고</th>
            </tr>
        </thead>
        

        <% if(results.length > 0) { %>
         <tbody>
            <% for(var i = 0; i < results.length; i++){ %>
            <tr>
                <td><input type="checkbox" id="chk" name="chk" IDX="<%=results[i].uid %>" value="<%=results[i].uid %>" /></td>
                <td>
                    <%=results[i].uid%></td>
                <td>
                    <%if(results[i].userEmail !=null && results[i].userEmail!='null' && results[i].userEmail!=''){%>
                    <%=results[i].userEmail%>
                    <%}%>
				</td>
				<td>
                    <%if(results[i].userNick !=null && results[i].userEmail!='null' && results[i].userEmail!=''){%>
                    <%= results[i].userNick %>
                    <%}%>

				</td>
                <td>
                  <button onclick="selectOne('/admin/m_user/selectOne', '', 'width=640, height=700, scrollbars=1', '<%=results[i].uid%>',
                    '')">상세보기</button>

                </td>
            </tr>
            <% } %>
            <% } else {%>
            <tr>
                <td colspan="10">등록된 회원이 없습니다.</td>
            </tr>
        </tbody>
        <% } %>

        

        
        

        
        
        
    </table>
    <p class="btn">
        <form name="udtForm" role="form">
            <button type="button" id="delete_btn">삭제</button>
        </form>
    </p>
    <!-- <button onclick="createOne()">등록</button> -->
</div>

<script>
    // 삭제
    $(document).ready(function () {
        const formObj = $("form[name='udtForm']");
        $("#delete_btn").on("click", function () {
            formObj.attr("action", "userDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                alert("삭제되었습니다.");
                formObj.submit();
            } else {
                return;
            }
        })
    });

    // var arr = new Array();
    // const value = $("input[name=chk]:checked").val();
    // array.push(value);
    // console.log(value);


    // var cnt = $("input[name=chk]:checked").length();
    // var arr = new Array();
    // $("input[name='chk']:checked").each(
    //     arr.push($(this).val())
    //     console.log(arr);
    // );

    // $("#chk").click(function () {
    //     var arr = new Array();
    //     $("#chk").each(function () {
    //         if ($(this).is(":checked"))
    //             arr += $(this).val();
    //     });
    //     console.log(arr);
    // });
    // var arr = "";
    // $('input:checkbox[name="chk"]:checked').each(function (index, item) {
    // 	var IDX = $(this).attr("IDX")
    // 	if (index > 0) {
    // 		arr += ', ' + IDX;
    // 	} else {
    // 		arr += IDX;
    // 	}
    //     console.log(arr);
    // });



    // 선택
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });


    // $("#btn").click(function(){
	// 		location.href="/admin/web/orgm_write";
	// 	});
</script>