<style>
   .phone {
      width: 90px;
   }
</style>
<main class="main">
   <!-- Breadcrumb-->
   <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">
         <a style="font-weight: bold;">회원관리</a>
      </li>
      <li class="breadcrumb-item active">회원정보</li>
      <!-- Breadcrumb Menu-->
   </ol>

   <div class="container-fluid">
      <div class="animated fadeIn">
         <div class="row">
            <div class="col-lg-6">
               <div class="card">
                  <div class="card-header">
                     <i class="fa fa-align-justify"></i> 회원 등록</div>
                  <form action="" id="userEnrollForm" method="post" enctype="multipart/form-data">
                     <input type="hidden" name="admin" value="<%=admin%>">
                     <div class="card-body">
                        <!-- 컨텐츠 -->
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">회원명</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userName" type="text" name="userName" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원명</label>
                           <div class="col-md-9">
                              <input class="form-control" id="hosName" type="text" name="hosName" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">우편번호</label>
                           <div class="col-md-9">
                              <input class="form-control" id="hosPost" type="text" name="hosPost" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원주소</label>
                           <div class="col-md-9">
                              <input class="form-control" id="ucmtitle" type="text" name="ucmtitle" value="">
                              <input type="hidden" id="userAdres1" name="userAdres1" value="">
                              <input type="hidden" id="userAdres2" name="userAdres2" value="">
                              <input type="hidden" id="userAdres3" name="userAdres3" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">휴대번호</label>
                           <div class="col-md-9" style="display: flex;text-align: center;align-items: center;">
                              <input class="form-control phone" id="userPhone1" type="text" name="userPhone1"
                                 value="">&nbsp;&nbsp;-&nbsp;&nbsp;
                              <input class="form-control phone" id="userPhone2" type="text" name="userPhone2"
                                 value="">&nbsp;&nbsp;-&nbsp;&nbsp;
                              <input class="form-control phone" id="userPhone3" type="text" name="userPhone3" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원번호</label>
                           <div class="col-md-9" style="display: flex;text-align: center;align-items: center;">
                              <input class="form-control phone" id="hosPhone1" type="text" name="hosPhone1"
                                 value="">&nbsp;&nbsp;-&nbsp;&nbsp;
                              <input class="form-control phone" id="hosPhone2" type="text" name="hosPhone2"
                                 value="">&nbsp;&nbsp;-&nbsp;&nbsp;
                              <input class="form-control phone" id="hosPhone3" type="text" name="hosPhone3" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">형태</label>
                           <div class="col-md-9">
                              <select class="dropdown" name="userType">
                                 <% for(i = 0; i < userType.length; i++) { %>
                                 <option <%if(userType[i].userType=='형태'){%> value="" <%}else{%> value="<%= userType[i].userType %>" <%}%>><%= userType[i].userType %></option>
                                 <% } %>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">역할</label>
                           <div class="col-md-9">
                              <select class="dropdown" name="userPosition">
                                 <% for(i = 0; i < userPosition.length; i++) { %>
                                 <option <%if(userPosition[i].userPosition=='전체'){%> value="" <%}else{%> value="<%= userPosition[i].userPosition %>" <%}%>><%= userPosition[i].userPosition %></option>
                                 <% } %>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">푸쉬알림</label>
                           <div class="col-md-9">
                              <select class="dropdown" name="pushYn">
                                 <option value="0">동의</option>
                                 <option value="1">비동의</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">프로필사진</label>
                           <div class="col-md-9">
                              <input type="file" id="file" name="userImg" />
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원사진1</label>
                           <div class="col-md-9">
                              <input type="file" id="file" name="hosImg" />
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원사진2</label>
                           <div class="col-md-9">
                              <input type="file" id="file" name="infoImg" />
                           </div>
                        </div>
                        <% if(sessionAdminId == 'resoft') { %>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">개발자</label>
                           <div class="col-md-9">
                              <input type="checkbox" style='zoom:2.0;' name="adminyn" value="admin" checked>
                           </div>
                        </div>
                        <% } %>
                        <!--option 버튼  -->
                        <div class="option_button">
                           <div>
                              <button class="btn btn-block btn-outline-success" type="button"
                                 id="update_btn">등록</button>
                           </div>
                           <div>
                              <button class="btn btn-block btn-outline-danger" type="button"
                                 onclick="history.go(-1)"
                                 style="margin-bottom: 10px;">취소</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<script type="text/javascript">
   $(document).ready(function () {
      //확장자 체크
      $("input:file[name='file']").change(function () {
         var str = $(this).val();
         var fileName = str.split('\\').pop().toLowerCase();
         // alert(fileName);
         checkFileName(fileName);
      });
   });
   //확장자 체크
   function checkFileName(str) {
      var ext = str.split('.').pop().toLowerCase();
      // alert(ext);
      if ($.inArray(ext, ['jpg', 'png', 'jpeg', 'gif']) == -1) {
         alert(ext + '파일은 업로드 하실 수 없습니다.');
         $("input:file[name='file']").val("");
      }
   }

   $("#update_btn").click(function () {
      var userName = $("#userName").val();

      if (userName == '') {
         alert("회원명을 입력해주세요.");
         $("#userName").focus();
         return false;
      }

      if (confirm("등록하시겠습니까?") == true) {
         $("#userEnrollForm").attr("action", "userInsert");
         $("#userEnrollForm").submit();
      } else {
         return;
      }
   });
</script>