<main class="main">
   <!-- Breadcrumb-->
   <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">
         <a style="font-weight: bold;">회원관리</a>
      </li>
      <li class="breadcrumb-item active">회원정보</li>
      <!-- Breadcrumb Menu-->
   </ol>

   <div class="container-fluid">
      <div class="animated fadeIn">
         <div class="row">
            <div class="col-lg-6">
               <div class="card">
                  <div class="card-header">
                     <i class="fa fa-align-justify"></i> 회원정보 상세</div>
                  <form name="udtForm" role="form">
                     <input type="hidden" name="admin" value="<%=admin%>">
                     <input type="hidden" name="page" value="<%=page%>">
                     <div class="card-body">
                        <!-- 컨텐츠 -->
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">회원번호</label>
                           <div class="col-md-9">
                              <input class="form-control" id="uid" type="text" name="uid" readonly
                                 value="<%=result[0].uid%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">프로필사진</label>
                           <div class="col-md-9">
                              <input type="hidden" name="userImg" value="<%=result[0].userImg%>">
                              <% if(result.length > 0 && result[0].userImg != null && result[0].userImg != '') {%>
                              <img src="../../../<%= result[0].userImg %>" alt="사진" width="40%" />
                              <% }else{ %>
                              등록된 프로필 사진이 없습니다.
                              <% } %>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">회원명</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userName" type="text" name="userName" readonly
                                 value="<%=result[0].userName%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">휴대번호</label>
                           <div class="col-md-9">
                              <input class="form-control" id="ucmtitle" type="text" readonly
                                 value="<%=result[0].userPhone1%>-<%=result[0].userPhone2%>-<%=result[0].userPhone3%>">
                              <input type="hidden" id="userPhone1" name="userPhone1" value="<%=result[0].userPhone1%>">
                              <input type="hidden" id="userPhone2" name="userPhone2" value="<%=result[0].userPhone2%>">
                              <input type="hidden" id="userPhone3" name="userPhone3" value="<%=result[0].userPhone3%>">
                           </div>
                        </div>

                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">이메일</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userEmail" type="text" name="userEmail" readonly
                                 value="<%=result[0].userEmail%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">팩스번호</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userFax" type="text" name="userFax" readonly
                                 value="<%=result[0].userFax%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원명</label>
                           <div class="col-md-9">
                              <input class="form-control" id="hosName" type="text" name="hosName" readonly
                                 value="<%=result[0].hosName%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">우편번호</label>
                           <div class="col-md-9">
                              <input class="form-control" id="hosPost" type="text" name="hosPost" readonly
                                 value="<%=result[0].hosPost%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원주소</label>
                           <div class="col-md-9">
                              <input class="form-control" id="ucmtitle" type="text" readonly
                                 value="<%=result[0].userAdres1%> <%=result[0].userAdres2%> <%=result[0].userAdres3%> <%=result[0].userAdres4%> ">
                              <input type="hidden" id="userAdres1" name="userAdres1" value="<%=result[0].userAdres1%>">
                              <input type="hidden" id="userAdres2" name="userAdres2" value="<%=result[0].userAdres2%>">
                              <input type="hidden" id="userAdres3" name="userAdres3" value="<%=result[0].userAdres3%>">
                              <input type="hidden" id="userAdres4" name="userAdres4" value="<%=result[0].userAdres4%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원번호</label>
                           <div class="col-md-9">
                              <input class="form-control" id="ucmtitle" type="text" readonly
                                 value="<%=result[0].hosPhone1%>-<%=result[0].hosPhone2%>-<%=result[0].hosPhone3%>">
                              <input type="hidden" id="hosPhone1" name="hosPhone1" value="<%=result[0].hosPhone1%>">
                              <input type="hidden" id="hosPhone2" name="hosPhone2" value="<%=result[0].hosPhone2%>">
                              <input type="hidden" id="hosPhone3" name="hosPhone3" value="<%=result[0].hosPhone3%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">홈페이지</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userUrl" type="text" name="userUrl" readonly
                                 value="<%=result[0].userUrl%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">형태</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userType" type="text" name="userType" readonly
                                 value="<%=result[0].userType%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">역할</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userPosition" type="text" name="userPosition" readonly
                                 value="<%=result[0].userPosition%>">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원세부설명</label>
                           <div class="col-md-9">
                              <%=result[0].hosDetail%>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">진료시간</label>
                           <div class="col-md-9">
                              <div style="white-space:pre-wrap">
                                 <%=result[0].hosMedicalInfo%>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">회비 납부 여부</label>
                           <div class="col-md-9">
                              <input class="form-control" id="userPay" type="text" name="userPay" readonly
                                 <%if(result[0].userPay=='y'){%> value="O" <%}else{%> value="X" <%}%>>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-form-label" for="text-input">병원사진</label>
                           <div class="col-md-9">
                              <% if(result[0].fileRoute != null && result[0].fileRoute != '') {%>
                                 <% for(var i = 0; i < result.length ; i++) { %> <img
                                 src="../../../<%= result[i].fileRoute %>" alt="사진"
                                 style="padding:0 50px 8px 0 !important; width:40%; vertical-align: top !important;" />
                              <!-- <p><span><%=result[i].fileOrgName%></span></p> -->
                              <a href="../../../<%= result[i].fileRoute %>" class="btn btn-block btn-outline-success"
                                 type="button" style="width:30%;" download>파일 다운로드</a>
                              </p>
                              <input type="hidden" name="fileRoute" value="<%=result[i].fileRoute%>">
                              <% } %>
                              <% }else{ %>
                              첨부파일이 존재하지 않습니다.
                              <% } %>
                           </div>
                        </div>

                        <!--option 버튼  -->
                        <div class="option_button">
                           <div>
                              <button class="btn btn-block btn-outline-success" type="button"
                                 id="update_btn">수정</button>
                           </div>
                           <div>
                              <button class="btn btn-block btn-outline-danger" type="button" id="delete_btn">삭제</button>
                           </div>
                           <div>
                              <button class="btn btn-block btn-outline-success" type="button" <%if(admin!=''){%>
                                 onclick="location.href='/admin/m_user/admin?page=<%=page%><%=keepSearch%>'" <%}else{%>
                                 onclick="location.href='/admin/m_user/page?page=<%=page%><%=keepSearch%>'" <%}%>>목록</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<script type="text/javascript">
   var formObj = $("form[name='udtForm']");
   $(document).ready(function () {
      // 수정 폼 연결
      $("#update_btn").on("click", function () {
         formObj.attr("action", "userUdtForm");
         formObj.attr("method", "post");
         formObj.submit();
      });
      // 삭제
      $("#delete_btn").on("click", function () {
         formObj.attr("action", "oneUserDelete");
         formObj.attr("method", "post");
         if (confirm("회원을 삭제하시겠습니까?") == true) {
            formObj.submit();
         } else {
            return;
         }
      });
   })
</script>