<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
	<!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
	<script src="/stylesheets/js/common.js"></script>
</head>

<script type="text/javascript">
	$(document).ready(function () {});
</script>

<style>
	input {
		border: 1px solid grey
	}
</style>

<body style="background: #fff;">
	<div class="popup">
		<h2><span class="float_l">회원관리</span><img onclick="window.close();" src="../../images/btn_close.gif" alt=""
				class="float_r hand" /></h2>
		<table class="mb_10">
			<tr>
				<th><img src="../../uploads/normal_img.jpg" alt="" width="117px" /></th>
				<td colspan="4">
					<dl>
						<dt>

						</dt>
						<dd>
						</dd>
					</dl>
				</td>
			</tr>
		</table>
		<form action="userUpdate" method="post">
			<div class="content">
				<table>
					<tr>
						<th>일련번호</th>
						<td>
							<input id="uid" name="uid" value="<%=result[0].uid%>"readonly>
						</td>
					</tr>
					<tr>
						<th>닉네임</th>
						<td>
							<input id="userNick" name="userNick" value="<%=result[0].userNick%>">
						</td>
					</tr>
					<tr>
						<th>이메일</th>
						<td>
							<input id="userEmail" name="userEmail" value="<%=result[0].userEmail%>">
						</td>
					</tr>
					<tr>
						<th>나이</th>
						<td>
							<input id="userAge" name="userAge" value="<%=result[0].userAge%>">
						</td>
					</tr>
					<tr>
						<th>주소1</th>
						<td>
							<input id="userAdres1" name="userAdres1" value="<%=result[0].userAdres1%>">
						</td>
					</tr>
					<tr>
						<th>주소2</th>
						<td>
							<input id="userAdres2" name="userAdres2" value="<%=result[0].userAdres2%>">
						</td>
					</tr>
					<tr>
						<th>학교</th>
						<td>
							<input id="userSchool" name="userSchool" value="<%=result[0].userSchool%>">
						</td>
					</tr>
					<tr>
						<th>포인트</th>
						<td>
							<input id="userPoint" name="userPoint" value="<%=result[0].userPoint%>">
						</td>
					</tr>
					<tr>
						<th>계산점수</th>
						<td>
							<input id="userScore" name="userScore" value="<%=result[0].userScore%>">
						</td>
					</tr>
					<tr>
						<th>상태</th>
						<td>
							<input id="userStatus" name="userStatus" value="<%=result[0].userStatus%>">
						</td>
					</tr>
					<tr>
						<th>개인정보 동의여부</th>
						<td>
							<input id="userAgree" name="userAgree" value="<%=result[0].userAgree%>">
						</td>
					</tr>
					<tr>
						<th>권한</th>
						<td>
							<input id="userAuth" name="userAuth" value="<%=result[0].userAuth%>">
						</td>
					</tr>
				</table>
				<p class="btn">
					<button type="submit">수정</button>
					<button onclick="window.close();">취소</button>
				</p>
			</div>
		</form>
	</div>