<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
	<!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
	<script src="/stylesheets/js/common.js"></script>
</head>

<script type="text/javascript">
	$(document).ready(function () {});
</script>

<body style="background: #fff;">
	<div class="popup">
		<h2><span class="float_l">회원관리</span><img onclick="window.close();" src="../../images/btn_close.gif" alt=""
				class="float_r hand" /></h2>
		<table class="mb_10">
			<tr>
				<% if(result.length > 0 && result[0].userImg != null && result[0].userImg != '') {%>
				<th><img src="<%= result[0].userImg %>" alt="사진" width="117px" /></th>
				<% }else{ %>
				<th><img src="../../uploads/normal_img.jpg" alt="" width="117px" /></th>
				<% } %>

				<td colspan="4">
					<dl>
						<dt>

						</dt>
						<dd>
						</dd>
					</dl>
				</td>
			</tr>
		</table>

		<div class="content">
			<table>
				<tr>
					<th>일련번호</th>
					<td>
						<%if(result[0].uid !=null && result[0].uid!='null' && result[0].uid!=''){%>
						<%=result[0].uid%>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>닉네임</th>
				<td>
					<%if(result[0].userNick !=null && result[0].userNick!='null' && result[0].userNick!=''){%>
						<%=result[0].userNick %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>이메일</th>
				<td>
					<%if(result[0].userEmail !=null && result[0].userEmail!='null' && result[0].userEmail!=''){%>
						<%=result[0].userEmail %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>나이</th>
				<td>
					<%if(result[0].userAge !=null && result[0].userAge!='null' && result[0].userAge!=''){%>
						<%=result[0].userAge %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>주소1</th>
				<td>
					<%if(result[0].userAdres1 !=null && result[0].userAdres1 !='null' && result[0].userAdres1!=''){%>
						<%=result[0].userAdres1%>
						<%}%>
				</td>
			</tr>

			<tr>
				<th>주소2</th>
				<td>
					<%if(result[0].userAdres2 !=null && result[0].userAdres2!='null' & result[0].userAdres2!=''){%>
						<%=result[0].userAdres2 %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>학교</th>
				<td>
					<%if(result[0].userSchool !=null && result[0].userSchool!='null' && result[0].userSchool!=''){%>
						<%=result[0].userSchool %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>포인트</th>
				<td>
					<%if(result[0].userPoint !=null && result[0].userPoint!='null' && result[0].userPoint!=''){%>
						<%=result[0].userPoint %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>계산점수</th>
				<td>
					<%if(result[0].userScore !=null && result[0].userScore!='null' && result[0].userScore!=''){%>
						<%=result[0].userScore %>
						<%}%>
				</td>
			</tr
			><tr>
				<th>상태</th>
				<td>
					<%if(result[0].userStatus !=null && result[0].userStatus!='null' && result[0].userStatus!=''){%>
						<%=result[0].userStatus %>
						<%}%>
				</td>
			</tr>
			
			<tr>
				<th>개인정보 동의여부</th>
				<td>
					<%if(result[0].userAgree !=null && result[0].userAgree!='null' && result[0].userAgree!=''){%>
						<%=result[0].userAgree %>
						<%}%>
				</td>
			</tr>
						
			<tr>
				<th>권한</th>
				<td>
					<%if(result[0].userAuth !=null && result[0].userAuth!='null' && result[0].userAuth!='' && result[0].userAuth!='undefined'){%>
						<%=result[0].userAuth %>
						<%}%>
				</td>
			</tr>

		</table>

		<p class="btn">
			<form name="udtForm" role="form">
				<input type="hidden" name="uid" value="<%=result[0].uid%>">
				<button type="button" id="update_btn">수정</button>
				<button type="button" id="delete_btn">삭제</button>
			</form>
			<button class="btn_big_black hand" onclick="window.close();">취소</button>
		</p>
		</div>
	</div>

	<script>
		$(document).ready(function () {
			var formObj = $("form[name='udtForm']");
			// 수정 
			$("#update_btn").on("click", function () {
				formObj.attr("action", "userUdtForm");
				formObj.attr("method", "get");
				formObj.submit();
			})

			// 삭제
			$("#delete_btn").on("click", function () {
				formObj.attr("action", "userDelete");
				formObj.attr("method", "get");
				if (confirm("삭제하시겠습니까?") == true) {
					alert("삭제되었습니다.");
					formObj.submit();
				} else {
					return;
				}
			})
		})
	</script>