<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
	<!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
	<script src="/stylesheets/js/common.js"></script>
</head>
<div class="popup">
	<h2><span class="float_l">레시피</span></h2>
	<div class="content">
		<table class="mb_10">
			<tr>
				<th>글번호</th>
				<td><%=result[0].writId%></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><%=result[0].writTitle%></td>
			</tr>
			<tr>
				<th>조회수</th>
				<td><%=result[0].writHit%></td>
			</tr>
			<tr>
				<th>우선순위</th>
				<td><%=result[0].writRank%></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>
					<%=result[0].userNick%>
				</td>
			</tr>
			<tr>
				<th>작성일</th>
				<td><%=result[0].writDatefmt%></td>
			</tr>
			<tr>
				<th>수정일</th>
				<td><%=result[0].writUpdDatefmt%></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><%=result[0].writContent%><p>ㄴㄴㄴ<strong>ㄴㅇㄹㄷㄴㄷ</strong></p></td>
			</tr>
				<input type="hidden" name="writId" value="<%=result[0].writId%>">
				<tr>
					<th>첨부파일</th>
					<td>
						<% for(var i = 0; i < result.length; i++) {%>
							<% if(result[0].fileRoute != null) { %>
								<img src=" ../../../<%= result[i].fileRoute %>" alt="사진" width="200px" /></li>
							<% } %>
						<% } %>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><% for(var i = 0; i < result.length; i++) {%>
						<li><a href="../../../<%= result[i].fileRoute %>" download><%=result[i].fileOrgName%></a>&nbsp;
							<% if(result[0].fileRoute != null) { %>
						<% } else {%>
						<% } %>
						<input type="hidden" name="fileNo" value="<%=result[0].fileNo%>">
						<input type="hidden" name="fileRoute" value="<%=result[0].fileRoute%>">
						<% } %></td>
				</tr>
		</table>

		<form name="udtForm" role="form">
			<p class="btn">
				<input type="hidden" id="writId" name="writId" value="<%=result[0].writId%>">
				<input type="hidden" id="fileRoute" name="fileRoute" value="<%=result[0].fileRoute%>">
				<button class="btn_big_blue hand" type="button" id="update_btn">수정</button>
				<button class="btn_big_blue hand" type="button" id="delete_btn">삭제</button>
				<button class="btn_big_black hand" onclick="window.close();">취소</button>
			</p>
		</form>
	</div>
</div>

<script>
	var formObj = $("form[name='udtForm']");
	$(document).ready(function () {
		// 수정 폼 연결
		$("#update_btn").on("click", function () {
			formObj.attr("action", "brdUdtForm");
			formObj.attr("method", "get");
			formObj.submit();
		});
		// 삭제
		$("#delete_btn").on("click", function () {
			formObj.attr("action", "brdDelete");
			formObj.attr("method", "get");
			if (confirm("게시글을 삭제하시겠습니까?") == true) {
				alert("삭제되었습니다.");
				formObj.submit();
			} else {
				return;
			}
		});
	})
</script>