    <main class="main">
       <!-- Breadcrumb-->
       <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
             <a style="font-weight: bold;">게시판관리</a>
          </li>
          <li class="breadcrumb-item active">게시글 수정</li>
          <!-- Breadcrumb Menu-->
       </ol>

       <div class="container-fluid">
          <div class="animated fadeIn">
             <div class="row">
                <div class="col-lg-6">
                   <div class="card">
                      <div class="card-header">
                         <i class="fa fa-align-justify"></i> 게시글 수정
                      </div>
                      <div class="card-body">
                         <!-- 컨텐츠 -->
                         <form name="udtForm" role="form">
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">글번호</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="writId" type="text" name="writId" readonly
                                     value="<%=result[0].writId%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">제목</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="writTitle" type="text" name="writTitle"
                                     disabled="disabled" value="<%=result[0].writTitle%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">작성자</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="userNick" type="text" name="userNick"
                                     disabled="disabled" value="<%=result[0].userNick%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">우선순위</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="writRank" type="text" name="writRank"
                                     disabled="disabled" value="<%=result[0].writRank%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">작성일/수정일</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                     disabled="disabled"
                                     value="<%=result[0].writDatefmt%>/<%=result[0].writUpdDatefmt%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">조회수</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="writHit" type="text" name="writHit"
                                     disabled="disabled" value="<%=result[0].writHit%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">내용</label>
                               <div class="col-md-9">
                                  <%-result[0].writContent%>
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label">첨부파일</label>
                               <% if(result[0].fileRoute != null) { %>
                               <div class="file-wrap">

                                  <% for(var i = 0; i < result.length; i++) {%>
                                  <p><span><%=result[i].fileOrgName%></span>
                                     <button name="fileDelete" data-fileNo="<%=result[i].fileNo%>"
                                        data-fileRoute="<%=result[i].fileRoute%>"
                                        class="btn btn-block btn-outline-danger fileDelete">삭제</button></p>
                                  <input type="hidden" name="fileNo" value="<%=result[i].fileNo%>">
                                  <input type="hidden" name="fileRoute" value="<%=result[i].fileRoute%>">
                                  <% } %>
                                  <% if(result.length < 5) { %>
                                  <% for(var i = 0; i < 5-result.length; i++) {%>
                                  <br><br><input type="file" id="file" name="file" /><br><br>
                                  <% } %>
                                  <% } %>
                                  <% } else {%>
                                  <div style="display: flex; flex-direction: column; gap: 25px; padding-left: 15px">
                                     <input type="file" id="file" name="file">
                                     <input type="file" id="file" name="file" />
                                     <input type="file" id="file" name="file" />
                                     <input type="file" id="file" name="file" />
                                     <input type="file" id="file" name="file" />
                                  </div>
                                  <% } %>
                               </div>
                            </div>
                            <!--option 버튼  -->
                            <div class="option_button" style="padding-left: 1.25rem; margin-bottom: 15px;">
                               <div>
                                  <button class="btn btn-block btn-outline-success" type="button"
                                     id="update_btn">수정</button>
                               </div>
                               <div>
                                  <button class="btn btn-block btn-outline-danger" type="button"
                                     onclick="location.href='/admin/m_board/all?boardId=<%=result[0].boardId%>&page=1'">취소</button>
                               </div>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </main>

    <script type="text/javascript">
       var formObj = $("form[name='udtForm']");
       $(document).ready(function () {
          // 수정 폼 연결
          $("#update_btn").on("click", function () {
             formObj.attr("action", "brdUdtForm");
             formObj.attr("method", "get");
             formObj.submit();
          });
          // 삭제
          $("#delete_btn").on("click", function () {
             formObj.attr("action", "brdDelete");
             formObj.attr("method", "get");
             if (confirm("게시글을 삭제하시겠습니까?") == true) {
                alert("삭제되었습니다.");
                formObj.submit();
             } else {
                return;
             }
          });
       })
    </script>