<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/basic.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/layout.css" />
    <!--<link href="/js/jquery/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <script type="text/javascript" src="/stylesheets/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/stylesheets/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/stylesheets/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="/stylesheets/jquery/jquery.form.js"></script>
    <script src="/stylesheets/js/common.js"></script>
    <!-- ckeditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
</head>
<style>
    .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
        border-color: var(--ck-color-base-border);
        height: 40%;
    }

    .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
        height: 40%;
    }
</style>
<div class="popup">
    <h2><span class="float_l">공지사항</span></h2>
    <div class="content">
        <form action="" name="brdUpdate" method="">
            <table>

                <tr>
                    <th>제목</th>
                    <td colspan="3"><input type="text" id="writTitle" name="writTitle" value="<%=result[0].writTitle %>"
                            style="ime-mode:active;" /></td>
                </tr>
                <!-- <% if(result.length == 0) {%>
                <tr>
                    <th>PUSH알림</th>
                    <td colspan="3">
                        <input type="checkbox" name="brdPushYn" value="Y" />
                        <input type="hidden" name="brdPushYn_result" />
                    </td>
                </tr>
                <% }%> -->
                <tr>
                    <th>우선순위</th>
                    <td><input type="text" id="writRank" name="writRank" value="<%=result[0].writRank %>"
                            style="ime-mode:active;" /></td>
                </tr>
                <tr>
                    <td colspan="4" class="align_c">
                        <textarea style="height:150px;" name="editor" class="editor" id="editor"><%-result[0].writContent %></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td colspan="3">
                        <% if(result[0].fileRoute != null) { %>
                        <% for(var i = 0; i < result.length; i++) {%>
                        <li><%=result[i].fileOrgName%>&nbsp;
                            <button id="fileDelete">삭제</button>
                            <input type="hidden" name="fileNo" value="<%=result[i].fileNo%>">
                            <input type="hidden" name="fileRoute" value="<%=result[i].fileRoute%>">
                        </li>
                        <% } %>
                        <% } else {%>
                        <% } %></td>
                </tr>
            </table>
            <p class="btn">
                <input type="hidden" name="writId" value="<%=result[0].writId%>">
                <input type="hidden" id="writContent" name="writContent" value="">
                <button type="submit" class="btn_big_blue hand" id="update_btn">수정</button>
                <button type="button" class="btn_big_black hand" id="btn_bak" onclick="history.back()">취소</button>
            </p>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //ckeditor
        ClassicEditor
            .create(document.querySelector('#editor'), {
                language: 'ko'
            })
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });

        //게시글 수정
        $("#update_btn").click(function () {
            var formObj = $("form[name='brdUpdate']");
            var writTitle = $("#writTitle").val();
            // var content = $("#content").val();
            // $('input[name=inputNm]').attr('value',goContent);
            var content = editor.getData();
            console.log(content);

            if (writTitle == "") {
                alert("제목을 입력하세요.");
                $("#writTitle").focus();
                return false;
            }

            if (content == null) {
                alert("내용을 입력하세요.");
                $("#editor").focus();
                return false;
            }

            if (confirm("수정하시겠습니까?") == true) {
                $('input[name=writContent]').attr('value',content);
                formObj.attr("action", "brdUpdate");
                formObj.attr("method", "post");
                formObj.submit();
                alert("수정되었습니다.");
            } else {
                return;
            }
        });

        //첨부파일 삭제
        $("#fileDelete").on("click", function () {
            if (confirm("실제 파일이 삭제됩니다. 정말 삭제하시겠습니까?") == true) {
                formObj.attr("action", "fileDelete");
                formObj.attr("method", "get");
                alert("삭제되었습니다.");
                formObj.submit();
            } else {
                return;
            }
        });

        //쿼리스트링값 가져와서 넘기기
        // function getUrlParams() {
        //     var params = {};
        //     window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
        //         params[key] = value;
        //     });
        //     return params;
        // }
        // var param = getUrlParams();
        // var uid = document.getElementById("uid");
        // uid.value = param.uid;
        // var boardId = document.getElementById("boardId");
        // boardId.value = param.boardId;
    });
</script>