<form id="boardForm" name="boardForm" method="post" action="" onsubmit="return false;" autocomplete="off">
    <div class="board_search">
        <h3 class="float_l" id="category_title">레시피 관리</h3>
    </div>
    <div class="board_list">
        <table>
            <colgroup>
                <col width="7%" />
                <col width="8%" />
                <col width="8%" />
                <col width="15%" />
                <col width="8%" />
                <col width="10%" />
                <col width="11%" />
                <col width="15%" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>작성자</th>
                    <th>우선순위</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>등록일</th>
                    <th>수정일</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <% 
					for(var i = 0; i < results.length; i++){
					%>
                <tr>
                    <input type="hidden" id="writId" name="writId" value="<%=results[i].writId%>" />
                    <td>체크박스자리</td>
                    <td><%=results[i].userNick%></td>
                    <td><%=results[i].writRank%></td>
                    <td><%=results[i].writTitle%></td>
                    <td><%=results[i].writHit %></td>
                    <td><%=results[i].writDatefmt%></td>
                    <td><%=results[i].writUpdDatefmt%></td>
                    <td>
                        <button
                            onclick="selectOne('/admin/m_board/selectOne', '', 'width=640, height=700, scrollbars=1', '<%=results[i].writId%>', '')">상세보기</button>
                    </td>
                </tr>
                <% } %>
                <%if(results.length == 0){%>
                <tr>
                    <td colspan="8">
                        등록된 목록이 없습니다.
                    </td>
                </tr>
                <%}%>
				</tbody>
			</table>
		</div>
	</form>
	<div class="mt_20">
		<p class="float_r">
            <!-- 나중에 boardId랑 uid(admin) 고쳐줘야함!!!!!!!!!!!!!!!!!!!!-->
            <button onclick="enroll('/admin/m_board/writForm', '', 'width=640, height=700, scrollbars=1', '', '')">등록</button>
		</p>
	</div>

	<script>
        function selectOne(theURL, winName, features, writId, mode) {
            theURL += '?writId=' + writId;
            window.open(theURL, winName, features);
        }

        function enroll(theURL, winName, features, mode) {
            theURL += '?boardId=3&?uid=81';
            window.open(theURL, winName, features);
        }
    </script>
    