<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">후원</a>
        </li>
        <li class="breadcrumb-item active">후원목록</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 후원목록 </div>
                        <div class="card-body">
                            <form id="supportForm" name="supportForm" method="" action="">
                                <input type="hidden" name="supportId" value="" />
                                <input type="hidden" name="supportImg" value="" />
                                <table class="table table-responsive-sm table-hover">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="50%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>이미지</th>
                                            <th>업체명</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < results.length; i++){ %>
                                        <tr>
                                            <td style="pointer-events:none"><%= i + 1 %></td>
                                            <td style="pointer-events:none"><img src="../../../<%= results[i].supportImg %>" alt="사진"
                                                    style="padding:20px !important; width:250px" /></td>
                                            <td style="pointer-events:none"><%=results[i].supporter %></td>
                                            <td>
                                                <input id="searchAction" type="button"
                                                    class="btn btn-block btn-outline-success"
                                                    onclick="supportUpdate('<%=results[i].supportId%>')" value="수정 " />
                                                <button type="button" id="delete_btn" name="supportDelete"
                                                    class="btn btn-block btn-outline-danger"
                                                    data-supportId="<%=results[i].supportId%>"
                                                    data-supportImg="<%=results[i].supportImg%>">삭제</button>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <%if(results.length == 0){%>
                                        <tr>
                                            <td colspan="4">
                                                등록된 목록이 없습니다.
                                            </td>
                                        </tr>
                                        <%}%>
            </tbody>
        </table>
</form>
<div class="mt_20">
    <p class="float_r">
        <input id="enrollAction" class="btn btn-block btn-outline-success" type="button" onclick="enroll()"
                                        value="등록" />
                                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<script>
    // 삭제
    const formObj = $("form[name='supportForm']");
    $("button[name=supportDelete]").on("click", function () {
        $('input[name=supportId').val($(this).attr('data-supportId'));
        $('input[name=supportImg').val($(this).attr('data-supportImg'));
        formObj.attr("action", "/admin/m_support/supportDelete");
        formObj.attr("method", "get");
        if (confirm("삭제하시겠습니까?") == true) {
            formObj.submit();
            alert("삭제되었습니다.");
        } else {
            return;
        }
    });

    function supportUpdate(str) {
        $('input[name=supportId').val(str);
        formObj.attr("action", "/admin/m_support/supportUdtForm");
        formObj.attr("method", "get");
        formObj.submit();
    }

    function enroll() {
        formObj.attr("action", "/admin/m_support/supportWritForm");
        formObj.attr("method", "get");
        formObj.submit();
    }
</script>