<!-- ckeditor -->
<script src="../../../public/build/ckeditor.js"></script>
<style>
   .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
      border-color: var(--ck-color-base-border);
      height: 40%;
   }

   .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
      height: 400px;
   }

   .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
      height: 400px;
   }
</style>
<main class="main">
   <!-- Breadcrumb-->
   <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">
         <a style="font-weight: bold;">후원</a>
      </li>
      <li class="breadcrumb-item active">후원수정</li>
   </ol>
   <div class="container-fluid">
      <div class="animated fadeIn">
         <div class="row">
            <div class="col-lg-6">
               <div class="card">
                  <div class="card-header">
                     <i class="fa fa-align-justify"></i> 후원 수정</div>
                  <div class="card-body">
                     <form name="udtForm" role="form">
                        <input type="hidden" name="deleteFileRoute" value="">
                        <input type="hidden" name="profileyn" value="">
                        <input type="hidden" name="fileId" value="">
                        <input type="hidden" name="fileRoute" value="">
                        <input type="hidden" id="writContent" name="supportDetail" value="">
                        <!-- 컨텐츠 -->
                        <div class="mb-3 row">
                           <label class="col-md-2 col-form-label" for="text-input">글번호</label>
                           <div class="col-md-10">
                              <input class="form-control" id="writId" type="text" name="supportId" readonly
                                 value="<%=result[0].supportId%>">
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-2 col-form-label">* 배너 이미지 *</label>
                           <% if(result[0].supportBanner != null) { %>
                           <div class="file-wrap support_img_wrap col-md-10">
                              <p><img src="../../../<%= result[0].supportBanner %>" alt="사진" class="viewFormImg" />
                                 <button name="bannerFileDelete" data-route="<%=result[0].supportBanner%>" data-yn="0"
                                    class="btn btn-block btn-outline-danger fileDelete">삭제</button></p>
                              <input type="hidden" id="bannerImg" value="" />
                           </div>
                           <% } else {%>
                           <div class="col-md-10"
                              style="display: flex; flex-direction: column; gap: 25px; padding-left: 15px">
                              <input type="file" id="bannerImg" name="file">
                           </div>
                           <% } %>
                           <input type="hidden" id="bannerImg" name="bannerImg" value="<%=result[0].supportBanner%>">
                           <input type="hidden" id="bannerImgyn" name="bannerImgyn" />
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-2 col-form-label" for="text-input">* 업체명 *</label>
                           <div class="col-md-10">
                              <input class="form-control" id="supportTitle" type="text" name="supportTitle"
                                 value="<%=result[0].supportTitle%>">
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-2 col-form-label" for="text-input">업체 상세 설명</label>
                           <div class="col-md-10">
                              <textarea name="editor" class="editor"
                                 id="editor"><%-result[0].supportDetail %></textarea>
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-2 col-form-label" for="text-input">사이트</label>
                           <div class="col-md-10">
                              <input class="form-control" id="supportUrl" type="text" name="supportUrl"
                                 value="<%=result[0].supportUrl %>">
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-2 col-form-label">첨부파일</label>
                           <% if(result[0].fileRoute != null) { %>
                           <div class="file-wrap support_img_wrap col-md-10">
                              <% for(var i = 0; i < result.length; i++) {%>
                              <p><span><%=result[i].fileOrgName%></span>
                                 <button name="supportFileDelete" data-route="<%=result[i].fileRoute%>"
                                    data-fileId="<%=result[i].fileId%>"
                                    class="btn btn-block btn-outline-danger fileDelete">삭제</button></p>
                              <% } %>
                              <% if(result.length < 5) { %>
                              <% for(var i = 0; i < 5-result.length; i++) {%>
                              <br><input type="file" id="file" name="file" /><br>
                              <% } %>
                              <% } %>
                           </div>
                           <% } else {%>
                           <div class="col-md-10"
                              style="display: flex; flex-direction: column; gap: 25px; padding-left: 15px">
                              <input type="file" id="file" name="file" />
                              <input type="file" id="file" name="file" />
                              <input type="file" id="file" name="file" />
                              <input type="file" id="file" name="file" />
                           </div>
                           <% } %>

                        </div>

                        <!--option 버튼  -->
                        <div class="demo-inline-spacing">
                           <button type="button" class="btn btn-outline-success" id="update_btn">수정</button>
                           <button type="button" class="btn btn-outline-danger" onclick="history.go(-1)">취소</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<script type="text/javascript">
   $(document).ready(function () {
      //확장자 체크
      $("input:file[name='file']").change(function () {
         var str = $(this).val();
         var fileName = str.split('\\').pop().toLowerCase();
         // alert(fileName);
         checkFileName(fileName);
      });
      //ckeditor
      ClassicEditor
         .create(document.querySelector('#editor'), {
            language: 'ko'
         })
         .then(newEditor => {
            editor = newEditor;
         })
         .catch(error => {
            console.error(error);
         });

      var formObj = $("form[name='udtForm']");
      // 수정
      $("#update_btn").on("click", function () {
         var supportImg = $("#bannerImg").val();
         var supportTitle = $("#supportTitle").val();
         var content = editor.getData();
         // var bannerImg = $("#bannerImg").val();

         if (supportImg == '') {
            alert("배너이미지를 선택해주세요.");
            return false;
         }
         if (supportTitle == "") {
            alert("업체명을 입력하세요.");
            $("#editor").focus();
            return false;
         }
         var convertContent = content.replace(/(<([^>]+)>)/ig, "");
         if (convertContent.length > 3000) {
            alert("입력 메세지는 3000자를 초과할 수 없습니다.");
            return false;
         }
         if (confirm("수정하시겠습니까?") == true) {
            if (supportImg == '') {
               $("#bannerImgyn").val("0");
            }
            $('input[id=writContent]').attr('value', content);
            formObj.attr("action", "supportUpdate");
            formObj.attr("enctype", "multipart/form-data");
            formObj.attr("method", "post");
            formObj.submit();
            alert("수정되었습니다.");
         } else {
            return;
         }
      });


      //첨부파일 삭제
      $("[name=supportFileDelete]").on("click", function () {
         // $('input[name=fileId').val($(this).attr('data-fileId'));
         // $('input[name=fileRoute').val($(this).attr('data-fileRoute'));
         $('input[name=deleteFileRoute').val($(this).attr('data-route'));
         if (confirm("실제 파일이 삭제됩니다. 정말 삭제하시겠습니까?") == true) {
            formObj.attr("action", "supportFileDelete");
            formObj.attr("method", "post");
            formObj.attr("enctype", "application/x-www-form-urlencoded");
            formObj.submit();
            alert("삭제되었습니다.");
         } else {
            return;
         }
         // if (confirm("실제 파일이 삭제됩니다. 정말 삭제하시겠습니까?") == true) {
         // var userProfile = $("#userProfile").val();
         // if (userProfile == '') {
         // $("#profileyn").val("0");
         // }
         // formObj.attr("action", "supportFileDelete");
         // formObj.attr("method", "get");
         // alert("삭제되었습니다.");
         // formObj.submit();
         // } else {
         // return;
         // }
      });

      //대표배너 삭제
      $("[name=bannerFileDelete]").on("click", function () {
         $('input[name=deleteFileRoute').val($(this).attr('data-route'));
         $('input[name=profileyn').val($(this).attr('data-yn'));
         if (confirm("실제 파일이 삭제됩니다. 정말 삭제하시겠습니까?") == true) {
            formObj.attr("action", "supportFileDelete");
            formObj.attr("method", "post");
            formObj.attr("enctype", "application/x-www-form-urlencoded");
            formObj.submit();
            alert("삭제되었습니다.");
         } else {
            return;
         }
      });
   })

   //확장자 체크
   function checkFileName(str) {
      var ext = str.split('.').pop().toLowerCase();
      // alert(ext);
      if ($.inArray(ext, ['jpg', 'png', 'jpeg', 'gif']) == -1) {
         alert(ext + '파일은 업로드 하실 수 없습니다.');
         $("input:file[name='file']").val("");
      }
   }
</script>