<style>
    .image-box {
        height: 280px;
        overflow: hidden;
        margin: 0 auto;
    }

    .image-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .certiContentEach {
        width: calc(100% / 4);
        text-align: center;
    }

    .certiContentAll {
        display: flex;
        flex-wrap: wrap;
        padding: 0 !important;
        list-style: none;
    }

    /* 드롭다운 스타일 */
    .subTitle {
        display: inline-block;
        text-align: left;
        width: 300px !important;
        height: 34px !important;
        position: relative;
        width: 160px;
        border: 1px solid #ccc;
        cursor: pointer;
        background: #fff;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .sub div:first-child {
        display: inline-block;
        text-align: left;
        padding-right: 50px;
        width: auto !important;
        height: 34px !important;
    }

    .subTitle option {
        font-size: 13px !important;
        padding: 10px 12px !important;
    }

    .subTitle option.hover {
        background-color: orange;
    }
</style>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <% if(param == 0) { %>
            <a style="font-weight: bold;">탄소실천관리</a>
            <% } else {%>
            <a style="font-weight: bold;">챌린지관리</a>
            <% } %>
        <li class="breadcrumb-item active">글관리</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <%if(param == 0){%>
                            <i class="fa fa-align-justify"></i> 탄소실천 글 관리
                            <% } else {%>
                            <i class="fa fa-align-justify"></i> 챌린지 글 관리
                            <% } %>
                        </div>
                        <div class="card-body">
                            <form id="certiContForm" name="certiContForm" method="" action="">
                                <input type="hidden" name="page" value="1">
                                <input type="hidden" name="certiDivision" value="<%= param %>">
                                <input type="hidden" name="certiContentId" value="">
                                <input type="hidden" name="uid" value="81">
                                <% if(results.length > 0 && param == 0) { %>
                                <div class="selectBoxAlign">
                                    <select id="certiSubDivision" name="certiSubDivision" class="dropdown">
                                        <option value="" selected="selected">--분류--</option>
                                        <% for(var i = 0; i < div.length ; i++){  %>
                                        <option value="<%= div[i].certiSubDivision %>"
                                            <%if(certiSubDivision==div[i].certiSubDivision){%> selected="selected"
                                            <%}%>><%= div[i].certiSubDivision %></option> <% } %> </select> <select
                                            class="subTitle" name="searchType" id="searchType">
                                            <% if(searchType != ''){ %>
                                        <option value="" selected="selected"><%= results[0].certiTitle %></option>
                                        <% } else { %>
                                        <option value="" selected="selected">--종류명--</option>
                                        <% } %>
                                    </select>
                                    <% if(searchText != '') { %>
                                    <input class="searchbox" type="text" name="searchText" value="<%=searchText%>" />
                                    <% } else {%>
                                    <input class="searchbox" type="text" name="searchText" placeholder=" 작성자" />
                                    <% } %>
                                    <input class="btn btn-block btn-outline-success" type="button" id="searchAction"
                                        value="검색" onclick="search()" />
                                </div>
                                <% } %>
                                <div class="certiContentAll-wrap">
                                    <ul class="certiContentAll">
                                        <% if(results.length > 0) { %>
                                        <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                                        if(i > length){
                                            i++;
                                        } else { %>
                                        <li class="certiContentEach">
                                            <% if(results.length > 0 && results[i].fileRoute != null && results[i].fileRoute != ''){ %>
                                            <div class="image-box"><img class="image-thumbnail"
                                                    src="../../../<%= results[i].fileRoute %>"
                                                    style="width:100%; padding:15px !important;" alt="">
                                            </div>
                                            <% } else {%>
                                            <div class="image-box"><img class="image-thumbnail"
                                                    src="../../../public/images/certification/sprout.png"
                                                    style="padding:15px !important;" alt="">
                                            </div>
                                            <% } %>
                                            <div class="detailBtn" style="margin-top: 15px;">
                                                <button id="enrollAction" type="button"
                                                    class="btn btn-block btn-outline-success"
                                                    onclick="selectOne('<%= results[i].certiContentId %>')"
                                                    style="width:90px">상세보기</button>
                                                <% if(results[i].commentyn != 0) { %>
                                                <button id="enrollAction" type="button"
                                                    class="btn btn-block btn-outline-success" onclick="comment('/admin/m_comment/certiComment', '', 'resizable=0,width=640, height=700, scrollbars=1', '<%= results[i].certiContentId %>',
                                                '<%= param %>')">댓글</button>
                                                <% } %>
                                            </div>
                                        </li>
                                        <% } %>
                                        <% } %>
                                        <% } else {%>
                                        <p>조회된 글이 없습니다.</p>
                                        <% }%>
                                    </ul>
                                </div>
                                <p class="float_r">
                                    <!-- 나중에 boardId랑 uid(admin) 관리자걸로 고쳐줘야함!!!!!!!!!!!!!!!!!!!!-->
                                    <input id="enrollAction" type="button" class="btn btn-block btn-outline-success"
                                        onclick="enroll()" value="등록" />
                                </p>
                                <% if(results.length > 0) { %>
                                <div class="mt_20">
                                    <div class="paging" id="page_navi">
                                        <ul class="pagination customPaging">
                                            <li><a href="/admin/m_certiContent/certicontentAll?certiDivision=<%= param %>&page=1<%= keepSearch %>"
                                                    class="num">
                                                    << </a> </li> <li><a <%if((page<last-1)||(page==1)){%><%} else {%>
                                                            href="/admin/m_certiContent/certicontentAll?certiDivision=<%= param %>&page=<%= parseInt(page) - 1 %><%= keepSearch %>"
                                                            class="num" <% } %>>
                                                            < </a> </li>
                                                                <% for(var i = 0; i < results.length / page_num; i++){  %>
                                                                <li class="paging_on"><a
                                                                    href="/admin/m_certiContent/certicontentAll?certiDivision=<%= param %>&page=<%= i + 1 %><%= keepSearch %>"
                                                                    <%if(page==i+1){%>class="selected"
                                                                    <%}%> class="num"><%= i + 1 %></a> </li> <% } %>
                                                                    <li><a <%if(page>last-1){%><%} else {%>
                                                                        href="/admin/m_certiContent/certicontentAll?certiDivision=<%= param %>&page=<%= parseInt(page) + 1 %><%= keepSearch %>"
                                                                        class="num" <% } %>>></a>
                                            </li>
                                            <li><a href="/admin/m_certiContent/certicontentAll?certiDivision=<%= param %>&page=<%= last%><%= keepSearch %>"
                                                    class="num">>></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <% }%>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var formObj = $("form[name='certiContForm']");
    //상세보기
    function selectOne(certiContentId) {
        $("input[name='certiContentId']").val(certiContentId);
        formObj.attr("method", "get");
        formObj.attr("action", "one");
        formObj.submit();
    }

    //탄소실천, 챌린지 글 등록
    function enroll() {
        formObj.attr("method", "get");
        formObj.attr("action", "certiWritForm");
        formObj.submit();
    }

    //댓글
    function comment(theURL, winName, features, certiContentId, certiDivision) {
        theURL += '?certiContentId=' + certiContentId + '&certiDivision=' + certiDivision;
        window.open(theURL, winName, features);
        
    }

    //검색
    function search() {
        formObj.attr("method", "get");
        formObj.attr("action", "certiContentAll");
        formObj.submit();
    }
    //분류에 따른 종류명 불러오기
    $("select[name='certiSubDivision']").on("change", function () {
        // alert("aaa")
        var target = $("select[name='searchType']");
        target.empty();
        var sub = $("#certiSubDivision option:selected").val();
        // console.log(sub)
        if (sub == "") {
            target.append("<option value=''>--분류를 선택해주세요--</option>");
            return;
        }
        $.ajax({
            url: '/admin/m_certiContent/certiWritForm_subdropdown',
            dataType: 'json',
            type: 'GET',
            data: {
                param: sub
            },
            success: function (secondDiv) {
                if (secondDiv.length == 0) {
                    // alert(JSON.stringify(secondDiv));
                    target.attr('disabled', 'disabled');
                    target.append("<option value=''>종류가 존재하지 않습니다.</option>");
                } else {
                    target.append("<option value='' selected='selected'>--선택--</option>");
                    $(secondDiv).each(function (i) {
                        target.removeAttr('disabled', 'disabled');
                        target.append("<option value='" + secondDiv[i]
                            .certiTitleId + "'>" + secondDiv[i].certiTitle +
                            "</option>")
                    });
                }
            }
        });
    });
</script>