<style>
	.subTitle {
		display: inline-block;
		text-align: left;
		height: 34px !important;
		position: relative;
		border: 1px solid #ccc;
		cursor: pointer;
		background: #fff;
		border-radius: 3px;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	.sub div:first-child {
		display: inline-block;
		text-align: left;
		padding-right: 50px;
		width: auto !important;
		height: 34px !important;
	}

	.subTitle option {
		font-size: 13px !important;
		padding: 10px 12px !important;
	}

	.subTitle option.hover {
		background-color: orange;
	}
</style>
<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item">
			<% if(division == 0) { %>
			<a style="font-weight: bold;">탄소실천관리</a>
			<% } else {%>
			<a style="font-weight: bold;">챌린지관리</a>
			<% } %>
		</li>
		<li class="breadcrumb-item active">글관리</li>
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> 글관리
						</div>
						<div class="card-body">
							<!-- 컨텐츠 -->
							<form action="" id="writForm" name="writForm" method="post" enctype="multipart/form-data"
								autocomplete="off">
								<input type="hidden" id="certiDivision" name="certiDivision" value="<%= division %>">
								<input type="hidden" id="certiTitleId" name="certiTitleId" value="">
								<% if(division == 0) { %>
								<div class="form-group row">
									<label class="col-md-2 col-form-label" for="text-input">분류</label>
									<div class="col-md-9">
										<select class="dropdown" name="certiSubDivision" id="certiSubDivision">
											<option value='' selected="selected">--선택--</option>
											<% for(var i = 0; i < div.length ; i++){  %>
											<option value="<%= div[i].certiSubDivision %>">
												<%= div[i].certiSubDivision %></option>
											<% } %>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-2 col-form-label" for="text-input">종류명</label>
									<div class="col-md-9 sub">
										<select class="subTitle" name="certiTitle" id="certiTitle">

										</select>
									</div>
								</div>
								<% } else {%>
									<div class="form-group row">
										<label class="col-md-2 col-form-label" for="text-input">종류명</label>
										<div class="col-md-9">
											<select class="subTitle" name="certiTitle" id="certiTitle">
												<option value='' selected="selected">--선택--</option>
												<% for(var i = 0; i < c_div.length ; i++){  %>
												<option value="<%= c_div[i].certiTitleId %>">
													<%= c_div[i].certiTitle %></option>
												<% } %>
											</select>
										</div>
									</div>
								<% } %>
								<div class="form-group row">
									<label class="col-md-2 col-form-label">첨부파일</label>
									<div style="display: flex; flex-direction: column; gap: 25px; padding-left: 15px">
										<input type="file" id="file" name="file">
										<input type="file" id="file" name="file" />
										<input type="file" id="file" name="file" />
										<input type="file" id="file" name="file" />
										<input type="file" id="file" name="file" />
									</div>
								</div>
								<!--option 버튼  -->
								<div class="option_button" style="padding-left: 1.25rem; margin-bottom: 15px;">
									<div>
										<button class="btn btn-block btn-outline-success" type="button"
											id="enroll_btn">등록</button>
									</div>
									<div>
										<button class="btn btn-block btn-outline-danger" type="button"
											onclick="history.go(-1)">취소</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script type="text/javascript">
	var formObj = $("form[name='writForm']");
	$(document).ready(function () {
		//확장자 체크
		$("input:file[name='file']").change(function () {
			var str = $(this).val();
			var fileName = str.split('\\').pop().toLowerCase();
			// alert(fileName);
			checkFileName(fileName);
		});

		// 등록
		$("#enroll_btn").on("click", function () {
			$('input[name=certiTitleId]').val($('#certiTitle option:selected').val());
			var certiSubDivision = $("#certiSubDivision").val();
			var certiTitle = $("#certiTitle").val();
			var img = $("#file").val();
			// console.log(certiTitle)

			if (certiSubDivision == '') {
				alert("분류를 선택해주세요.");
				$("#certiSubDivision").focus();
				return false;
			}
			if (certiTitle == '') {
				alert("종류명을 선택해주세요.");
				$("#certiTitle").focus();
				return false;
			}
			if (img == '') {
				alert("이미지를 선택해주세요.");
				$("#certiSubDivision").focus();
				return false;
			}
			if (confirm("등록하시겠습니까?") == true) {
				formObj.attr("action", "/admin/m_certiContent/certiContWrit");
				formObj.attr("method", "post");
				formObj.submit();
			}
		});

		$("select[name='certiSubDivision']").on("change", function () {
			// alert("aaa")
			var target = $("select[name='certiTitle']");
			target.empty();
			var sub = $("#certiSubDivision option:selected").val();
			// console.log(sub)
			if (sub == "") {
				target.append("<option value=''>--분류를 선택해주세요--</option>");
				return;
			}
			$.ajax({
				url: '/admin/m_certiContent/certiWritForm_subdropdown',
				dataType: 'json',
				type: 'GET',
				data: {
					param: sub
				},
				success: function (secondDiv) {
					if (secondDiv.length == 0) {
						// alert(JSON.stringify(secondDiv));
						target.attr('disabled', 'disabled');
						target.append("<option value=''>종류가 존재하지 않습니다.</option>");
					} else {
						target.append("<option value='' selected='selected'>--선택--</option>");
						$(secondDiv).each(function (i) {
							target.removeAttr('disabled', 'disabled');
							target.append("<option value='" + secondDiv[i]
								.certiTitleId + "'>" + secondDiv[i].certiTitle +
								"</option>")
						});
					}
				}
			});
		});
	});

	//확장자 체크
	function checkFileName(str) {
		var ext = str.split('.').pop().toLowerCase();
		// alert(ext);
		if ($.inArray(ext, ['jpg', 'png', 'jpeg', 'gif']) == -1) {
			alert(ext + '파일은 업로드 하실 수 없습니다.');
			$("input:file[name='file']").val("");
		}
	}
</script>