<style>
    /* div.dataTables_wrapper div.dataTables_filter label {
        display: block !important;
    } */

    .userTable thead tr .sorting:first-child::before,
    .userTable thead tr .sorting_asc:first-child::before,
    .userTable thead tr .sorting_asc:first-child::after,
    .userTable thead .sorting_desc:first-child:after,
    .userTable thead .sorting:first-child:after,
    .userTable thead .sorting:first-child {
        content: none !important;
        cursor: unset
    }

</style>
<script>
    $(document).ready(function () {
        searchajax();
    });
</script>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">게시판관리</a>
        </li>
        <li class="breadcrumb-item active">신고글관리</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 신고글관리 (삭제시 원글(게시글/댓글)이 함께 삭제됩니다.)
                        </div>
                        <div class="card-body">
                            <form id="boardForm" name="boardForm" method="" action="">
                                <div style="display: flex; justify-content: end; gap: 5px;">
                                    <input type="hidden" id="page" name="page" value="">
                                    <select name="targetType" class="dropdown">
                                    <option value="" selected="selected">종류</option>
                                    <option value="0" <%if(targetType =="0"){%> selected="selected" <%}%>>게시글</option>
                                    <option value="1" <%if(targetType =="1"){%> selected="selected" <%}%>>댓글</option>
                                </select>
                                    <input class="btn btn-block btn-outline-success" type="button" id="searchAction"
                                    value="검색" onclick="search()" />
                                    <!-- <button class="btn btn-block btn-outline-success" type="submit" id="searchAction"  style="margin-bottom: 10px;">검색</button> -->
                                </div>
                                <table id="exampleTable"
                                    class="table userTable table-responsive-sm table-hover">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="8%" />
                                        <col width="8%" />
                                        <col width="30%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="5%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                                            <th>신고 번호</th>
                                            <th>종류</th>
                                            <th>신고 사유</th>
                                            <th>신고자</th>
                                            <th>대상자</th>
                                            <th>신고일</th>
                                            <th>존재유무</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        <% if(results.length > 0){ %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                                    if(i > length){
                                        i++;
                                    } else { 
                                        if(results[i].fileRoute){
                                        if(results[i].targetType == 0){%> 
                                            <tr onclick="board('/admin/m_certiContent/one?certiContentId=<%=results[i].targetContentId %>', '',
                                             'resizable=no,width=640, height=700, scrollbars=1', '<%= results[i].fileRoute %>')">
                                        <%} else{%>
                                            <tr onclick="comment('/admin/m_comment/certiCommentOne', '', 'resizable=no,width=640, height=700, scrollbars=1',
                                             '<%= results[i].certiContentId %>', '<%= results[i].targetContentId %>')">
                                            <%}}else{%>
                                                <tr>
                                                    <%}%>
                                    <td onclick='event.cancelBubble=true;'><input type="checkbox" id="chk" name="chk" value="<%=results[i].blaId %>"/>
                                    </td>
                                    <td>
                                        <%=results[i].blaId%></td>
                                    <% if(results[i].targetType == 0){ %>
                                        <td>게시글</td>
                                    <%} else{ %>
                                        <td>댓글</td>
                                        
                                    <%}%>
                                    
                                    <td>
                                        <%=results[i].blaContent%></td>
                                    <td>
                                        <%=results[i].uid%></td>
                                    <td>
                                        <%=results[i].targetUid%></td>
                                    <td>
                                        <%=results[i].blaDatefmt%></td>
                                    <td>
                                        <% if(results[i].fileRoute){%>
                                           Y
                                        <%}else{%>
                                           N
                                        <%}%></td>    
                                    </tr>    
                                    <% } %>
                                    <% } %>
                                    <% } else { %>
                                    <tr>
                                        <td colspan="6">
                                            데이터가 존재하지 않습니다.
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                    </table>
                                    <div>
                                        <input type="hidden" id="blameId" name="blameId" value="" />
                                        <button class="btn btn-block btn-outline-danger" type="button"
                                            id="delete_btn">삭제</button>
                                    </div>
                                    <div class="mt_20">
                                        <div class="paging" id="page_navi">
                                            <ul class="pagination customPaging">
                                                <% if(results.length > 0){ %>
                                                <li>
                                                    <a href="/admin/m_blame/blameAll?page=1"
                                                        class="num">
                                                        << </a> </li> <li>
                                                            <a <%if((page<last-1)||(page==1)){%><%} else {%>
                                                                href="/admin/m_blame/blameAll?page=<%= parseInt(page) - 1 %><%= keepSearch %>"
                                                                class="num" <% } %>>
                                                                < </a> </li>
                                                                    <% for(var i = startPage; i < endPage; i++){  %>
                                                                    <li class="paging_on">
                                                                    <a href="/admin/m_blame/blameAll?page=<%= i + 1 %>"
                                                                        <%if(page==i+1){%>class="selected"
                                                                        <%}%> class="num"><%= i + 1 %></a> </li> <% } %>
                                                                        <li> <a <%if(page>last-1){%><%} else {%>
                                                                            href="/admin/m_blame/blameAll?page=<%= parseInt(page) + 1 %><%= keepSearch %>"
                                                                            class="num" <% } %>>></a></li>
                                                <li><a href="/admin/m_blame/blameAll?page=<%= last%>"
                                                        class="num">>></a></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const formObj = $("form[name='boardForm']");
    //등록 
    function enroll() {
        formObj.attr("method", "get");
        formObj.attr("action", "writForm");
        formObj.submit();
    }
    // 삭제
    $("#delete_btn").on("click", function () {
        var chkArr = [];
        $("input[name=chk]:checked").each(function () {
            chkArr.push($(this).val());
            console.log($(this));
        });
        $('#blameId').val(chkArr);
        if (chkArr == "") {
            alert("삭제할 목록을 선택해주세요.");
            return false;
        }
        formObj.attr("action", "blameDelete");
        formObj.attr("method", "get");
        if (confirm("삭제하시겠습니까?") == true) {
            formObj.submit();
        } else {
            return false;
        }
    })
    //검색
    function search() {
        
        formObj.attr("method", "get");
        formObj.attr("action", "blameAll");
        formObj.submit();
    }
    //체크박스
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked")){
            $("input[name=chk]").prop("checked", true);
        }
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });

    //쿼리스트링 페이지
    function getUrlParams() {
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
            params[key] = value;
        });
        return params;
    }
    var param = getUrlParams();
    var page = document.getElementById("page");
    page.value = param.page;

    //신고 댓글 확인
    function comment(theURL, winName, features, certiContentId, targetContentId) {
        theURL += '?certiContentId=' + certiContentId + '&targetContentId=' + targetContentId + '&blame=y';
        window.open(theURL, winName, features);
    }

    //신고 게시물 확인
    function board(theURL, winName, features, imageRoute) {
        theURL += '';
        window.open(theURL, winName, features);
    }

    // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 '[1] = 게시판관리'
    var navDropdown = document.getElementsByClassName("nav-dropdown");
        navDropdown[1].className += 'open';
</script>
