    <main class="main">
       <!-- Breadcrumb-->
       <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
             <a style="font-weight: bold;">게시판관리</a>
          </li>
          <li class="breadcrumb-item active">공지사항 상세</li>
          <!-- Breadcrumb Menu-->
       </ol>

       <div class="container-fluid">
          <div class="animated fadeIn">
             <div class="row">
                <div class="col-lg-6">
                   <div class="card">
                      <form name="udtForm" role="form">
                        <input type="hidden" id="page" name="page" value="<%=page%>">
                        <input type="hidden" id="searchText" name="searchText" value="<%=searchText%>">
                         <input type="hidden" id="noticeId" name="noticeId" value="<%=result[0].noticeId%>">
                         <div class="card-header">
                            <i class="fa fa-align-justify"></i> 공지사항 상세</div>
                         <div class="card-body">
                            <!-- 컨텐츠 -->
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">글번호</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                     disabled="disabled" value="<%=result[0].noticeId%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">제목</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                     disabled="disabled" value="<%=result[0].noticeTitle%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">작성일</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                     disabled="disabled"
                                     value="<%=result[0].noticeWritDateFmt%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">조회수</label>
                               <div class="col-md-9">
                                  <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                     disabled="disabled" value="<%=result[0].hitCount%>">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label class="col-md-2 col-form-label" for="text-input">내용</label>
                               <div class="col-md-9">
                                  <%-result[0].noticeContent%>
                               </div>
                            </div>
                           <div class="form-group row">
                              <label class="col-md-2 col-form-label" for="text-input">공지사항 사진</label>
                              <% if(result.length > 0 && result[0].fileRoute != null && result[0].fileRoute != '') {
                                 for(i=0; i<result.length; i++){%>
                                    <input class="form-control" id="fileRoute" type="hidden" name="fileRoute"
                                      value="<%=result[i].fileRoute%>">
                                    <div class="col-md-9" style="margin-bottom:20px">
                                       <img src="../../../<%=result[i].fileRoute %>" alt="사진" width="40%" />
                                    </div>
                                    <br><br>
                                    <div class="col-md-2"></div>
                                 <% }}else{ %>
                                 등록된 사진이 없습니다.
                              <% } %>
                           </div>
                            <!--option 버튼  -->
                            <div class="option_button">
                               <div>
                                  <button class="btn btn-block btn-outline-success" type="button"
                                     id="update_btn">수정</button>
                               </div>
                               <div>
                                  <button class="btn btn-block btn-outline-danger" type="button"
                                  id="delete_btn">삭제</button>
                                 </div>
                                 <div>
                                    <button class="btn btn-block btn-outline-success" type="button"
                                       onclick="location.href='/admin/m_notice/notice?page=<%=page%>&searchText=<%=searchText%>'">목록</button>
                                 </div>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </main>

    <script type="text/javascript">
       var formObj = $("form[name='udtForm']");
       $(document).ready(function () {
          // 수정 폼 연결
          $("#update_btn").on("click", function () {
             formObj.attr("action", "noticeUdtForm");
             formObj.attr("method", "get");
             formObj.submit();
          });
          // 삭제
          $("#delete_btn").on("click", function () {
             formObj.attr("action", "noticeDelete");
             formObj.attr("method", "get");
             if (confirm("게시글을 삭제하시겠습니까?") == true) {
                formObj.submit();
             } else {
                return;
             }
          });
       })
    </script>