<style>
	.navbar-toggler-icon {
		display: none;
	}

	.button:not(:disabled),
	[type="button"]:not(:disabled),
	[type="reset"]:not(:disabled) {
		pointer-events: none;
	}
</style>

<main class="main">
	<!-- Breadcrumb-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
		<%if (subboardId == 'n'){%>
		<li class="breadcrumb-item">
			<a style="font-weight: bold;">공지사항 관리</a>
		</li>
		<li class="breadcrumb-item active">공지사항 댓글 관리</li>
		<% } else if(subboardId == 'g'){%>
		<li class="breadcrumb-item">
			<a style="font-weight: bold;">갤러리 관리</a>
		</li>
		<li class="breadcrumb-item active">갤러리 댓글 관리</li>
		<% } else {%>
		<li class="breadcrumb-item">
			<a style="font-weight: bold;">자료실 관리</a>
		</li>
		<li class="breadcrumb-item active">자료실 댓글 관리</li>
		<% } %>
		<!-- Breadcrumb Menu-->
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<%if(results.length > 0){%>
						<div class="card-header">
							<i class="fa fa-align-justify"></i> 댓글(<%= results[0].cmtCount %>개)
						</div>
						<div class="card-body">
							<!-- 컨텐츠 -->
							<form action="" id="commentForm" method="get" class="cmtFrm">
								<input type="hidden" id="cmtId" name="cmtId" value="">
								<input type="hidden" id="boardId" name="boardId" value="<%= results[0].boardId %>">
								<% for(var i = 0; i < results.length; i++) {%>
								<div class="form-group row col-md-9">
									<div class="cmtInfo-wrap">
										<div class="cmtInfo">
											<img src="../../../public/images/icon_admin.gif">
											<span><%= results[i].userNick %></span>
											<span><%= results[i].cmtDatefmt %></span>
										</div>
										<input type="submit" class="btn btn-block btn-outline-danger cmtDelBtn" id="delete_btn" name="delete_btn"
											value="삭제" data-cmtId="<%= results[i].cmtId %>">
									</div>
										<div class="form-control" id="writTitle" type="text" name="writTitle"
											><%= results[i].cmtContent %></div>
								</div>
								<% } %>
							</form>
						</div>
						<% } else { %>
						<div class="card-header">
							<i class="fa fa-align-justify"></i> 댓글(0개)
						</div>
						<div class="card-body">
							<!-- 컨텐츠 -->
							<div class="form-group row">
								<div class="col-md-9">
									<label class="col-md-2 col-form-label" for="text-input">댓글이 존재하지 않습니다.</label>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		</div>
		
</main>
<script>
	// 삭제
	$("input[name=delete_btn]").on("click", function () {
		$('input[name=cmtId]').val($(this).attr('data-cmtId'));
		$("#commentForm").attr("action", "/admin/m_comment/cmtDelete");
		$("#commentForm").attr("method", "get");
		if (confirm("댓글을 삭제하시겠습니까?") == true) {
			$("#commentForm").submit();
			alert("삭제되었습니다.")
		} else {
			return;
		}
	});
</script>