<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a style="font-weight: bold;">탄소 실천 관리</a>
        </li>
        <li class="breadcrumb-item active">탄소 실천 종류 상세</li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <% if(result.length > 0) { %>
                    <div class="card">
                        <%if(result[0].certiDivision == 0){%>
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 탄소실천 종류 상세</div>
                        <% } else {%>
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 챌린지 종류 상세</div>
                        <% } %>
                        <div class="card-body">
                            <!-- 컨텐츠 -->
                            <form id="certiForm" name="certiForm" method="" action="">
                                <input type="hidden" id="certiDivision" name="certiDivision" value="<%=result[0].certiDivision%>">
                                <input type="hidden" id="certiImage" name="certiImage" value="<%=result[0].certiImage%>">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">번호</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="certiTitleId" type="text" name="certiTitleId"
                                            readonly value="<%=result[0].certiTitleId%>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">대표 이미지</label>
                                    <div class="col-md-9">
                                        <% if(result.length > 0 && result[0].certiImage != null && result[0].certiImage != '') {%>
                                        <img src="../../../<%= result[0].certiImage %>" alt="사진"
                                            style="padding:20px !important; width:40%" />
                                        <% }else{ %>
                                        대표 이미지가 존재하지 않습니다.
                                        <% } %>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">분류</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" value="<%=result[0].certiSubDivision%>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">종류명</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" value="<%=result[0].certiTitle%>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">설명글</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" value="<%=result[0].certiDetail%>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">포인트</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" value="<%=result[0].certiPoint%>점">
                                    </div>
                                </div>
                                <% if(result[0].certiDivision == 0) {%>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">단계</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" value="<%=result[0].certiDiff%>단계">
                                    </div>
                                </div>
                                <% }else{ %>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">권한</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" value="<%=result[0].certiAuth%>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">기간</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled"
                                            value="<%=result[0].certiStartDatefmt%> ~ <%=result[0].certiEndDatefmt%>">
                                    </div>
                                </div>
                                <% } %>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="text-input">노출여부</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="ucmtitle" type="text" name="ucmtitle"
                                            disabled="disabled" <%if(result[0].certiShow==0){%> value="O" <%}else{%>
                                            value="X"
                                            <%}%>>
                                    </div>
                                </div>
                                <!--option 버튼  -->
                                <div class="option_button">
                                    <div>
                                        <button class="btn btn-block btn-outline-success" type="button"
                                            id="update_btn">수정</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-block btn-outline-danger" type="button"
                                            id="delete_btn">삭제</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-block btn-outline-success" type="button"
                                            onclick="location.href='/admin/m_certification/certiAll?certiDivision=<%=result[0].certiDivision%>&page=1'">목록</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
</main>

<script type="text/javascript">
    $(document).ready(function () {
        const formObj = $("form[name='certiForm']");
        // 수정 폼 연결
        $("#update_btn").on("click", function () {
            formObj.attr("action", "certiUdtForm");
            formObj.attr("method", "get");
            formObj.submit();
        });
        // 삭제
        $("#delete_btn").on("click", function () {
            formObj.attr("action", "certiDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                alert("삭제가 완료되었습니다.");
                formObj.submit();
            } else {
                return;
            }
        });
        // 삭제
        // $("button").on("click", function () {
        //     const certiId = $(this).next().val();
        //     const division = $(this).next().next().val();
        //     // console.log(division);
        //     formObj.attr("action", "certiDelete?certiTitleId=" + certiId +
        //         "&certiDivision=" +
        //         division);
        //     formObj.attr("method", "post");
        //     if (confirm("삭제하시겠습니까?") == true) {
        //         formObj.submit();
        //         alert("삭제되었습니다.");
        //     } else {
        //         return;
        //     }
        // })

    });
</script>